<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>

	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
	<link th:rel="stylesheet" th:href="@{/css/CustomBootstrap.css}" />
	
	
 	 <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
 	 <script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>

</head>

<body>
	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="titulo-pag2">Gestión de Empresas</div>
		</div>
	
	<div class="row">
		<div class="col-sm-1"></div>   
  		<div class="col-sm-10">
  			<form class="form-inline" action="#" th:action="@{/gestionWeb/empresas/pagempresas}" th:object="${objBusqueda}" method="post">
  				<div class="form-group mx-sm-3 mb-2">
    				<label for="buscarEmpresa" th:text="'  Empresa:  '"></label>
    				<input type="text" class="form-control" th:id="idBuscarEmpresa" th:name="buscarEmpresa" th:maxlength="25" th:field="*{nomEmpresa}" >
    				<button type="submit" class="btn btn-primary">Buscar</button>    
 				</div>	
			</form>
  		</div>
  		<div class="col-sm-1"></div> 
	</div>
	
	<div class="row">
		<div class="col-sm-1"></div>   
  		<div class="col-sm-10">
			<div class="panel panel-default" style="border-bottom: 2px solid #000">
				<table class="table table-sm">
					<thead class="thead-light">
						<tr>
							<th th:text="'Cod. Empresa'"></th>
							<th th:text="'Empresa'"></th>
							<th th:text="'CIF'"></th>
							<th th:text="'email'"></th>
							<th th:text="'telefono'"></th>
							<th th:text="'Fecha alta'"></th>
							<th th:text="'Editar'"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${pagGenerica.empty}">
							<td colspan="7">No hay empresas</td>
						</tr>
						<tr th:each="empresa:${pagGenerica.content}">
							<td th:text="${empresa.idEmpresa}"></td>
							<td th:text="${empresa.nomEmpresa}"></td>
							<td th:text="${empresa.cif}"></td>
							<td th:text="${empresa.emailEmpresa}"></td>
							<td th:text="${empresa.telefono}"></td>
							<td th:text="${#calendars.format(empresa.fecAltaEmpresa, 'dd/MMM/yyyy')}"></td>
							<td><a th:href="@{/gestionWeb/empresas/formeditarempresa(idEmpresa=${empresa.idEmpresa})}" class="btn btn-primary" role="button">Editar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>		
		<div class="col-sm-1"></div>
	</div>
		
		<div class="row">
			<div class="col-sm-1"></div>   
  			<div class="col-sm-10">
				<div th:insert="Aplicacion/fragments/BotoneraPaginacion :: botonerapaginacion"></div>
			</div>
			<div class="col-sm-1"></div>
		</div>
		<div class="row">
			<div class="col-1"></div>
 			 <div class="col-10 text-right"> 
  			  <a th:href="@{/gestionWeb/empresas/formaltaempresa}" class="btn btn-primary" role="button">Nueva</a>
 			 </div>
 			<div class="col-1"></div>
 		</div>

	 </div>

</body>
</html>
