<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	 <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
	 <link th:rel="stylesheet" th:href="@{/css/CustomBootstrap.css}" />
	
	 <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
 	 <script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
 	 
 	 <script type="text/javascript" th:src="@{/js/Beigar.js}"></script>
   
</head>

 <body>

	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	
	
   <div id="spinner">        
	 <img src="/images/circleWating.gif"></img>		 
    </div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="titulo-pag2">Informes</div>
		</div>
		<form  th:action="@{/informes/informeempleado}" th:object="${datosInformes}" method="post">
		<div class="row">
			<br>
			<div class="col-1"></div>
  			<div class="col-10" >
  				<div class="subtitulo-pag2">Informe Empleados</div>
  			</div>
  			<div class="col-1"></div>
  		</div>
  		
  		<div class="row">
  			<div class="col-1"></div>
  			<div class="col-10" >
  				<div class="form-group">
				<label for="labelFacturacionMes" th:text="'Empleados activos ' "></label>
				<select class="form-control" th:name="empleados" th:id="iEempleados">
						<option th:value="0" th:text="'Seleccionar Empleados activos' "></option>
					<!--	<option th:each="pTrabajoEmple:${empleadoWeb.puestoTrabajoWeb}"
   						 			th:value="${pTrabajoEmple.idPuestoTrabajo}"
  						  			th:text ="${pTrabajoEmple.desPuestoTrabajo}">
  						</option>--> 
    				</select>
				</div>
			</div>
			<div class="col-1"></div>
		</div>
 
		<div class="row">
			<div class="col-1"></div>	
			<div class="col-10 text-right">
				<a th:href="@{/}" class="btn btn-primary" role="button">Volver</a>
				<button type="submit" onclick="return showProgress();" class="btn btn-primary">Generar Informe</button>
			</div>	
			<div class="col-1"></div>	
		</div>
 		</form>
 		
 		<div th:insert="GestionWeb/fragments/InformesAplicacion :: resultInformesApli" style="overflow-y:scroll; height:500px; border:1px solid black;"></div>
 	
 	</div>

</body>
</html>