<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<head>
 	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} " />
	<link th:rel="stylesheet" th:href="@{/css/CustomBootstrap.css}" />
  
  <style> 	
	
  </style>
  
   <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
   <script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
   <script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>

</head>

<body>
	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	
	<div class="container-fluid">
	
		<div class="row">
			<div class="titulo-pag2">Gestión de Facturas</div>
		</div>
	 
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10" style="border-bottom: 2px solid #000">
			
			<div class="panel panel-default">
				<div class="panel-body" align="center">
				
				<table class="table table-sm">
					<thead>
						<tr>	
							<th th:text="'núm. factura'"></th>
							<th th:text="'Importe factura'"></th>
							<th th:text="'Cliente'"></th>
							<th th:text="'Fecha factura'"></th>
							<th th:text="'Fecha emision'"></th>
							<th th:text="'Forma pago'"></th>
							<th th:text="'Editar'"></th>
							<th th:text="'Imprimir'"></th>
						</tr>
					</thead>

					<tbody>
					<tr th:if="${pagGenerica.empty}">
						<td colspan="7">No hay Facturas</td>
					</tr>
						<tr th:each="factura:${pagGenerica.content}">
							<td th:text="${factura.numFactura}"></td>
							<td class="text-right" th:text="${#numbers.formatDecimal(factura.impFactura,3,'POINT',2,'COMMA')}"></td>
							<td th:text="${factura.cliente.nombre}"></td>
							<td th:text="${#calendars.format(factura.fecFactura, 'dd/MM/yyyy')}"></td>
							<td th:text="${#calendars.format(factura.fecEmisionFactura, 'dd/MM/yyyy')}"></td>
							<td th:text="${factura.formaPago.desForPago}"></td>
							<td><a th:href="@{/gestionWeb/facturas/formeditarfactura(idFactura=${factura.idFactura})}" class="btn btn-primary btn-sm" role="button">Editar</a></td>
							<td><a th:href="@{/gestionWeb/facturas/generarpdffactura(idFactura=${factura.idFactura}, numFactura=${factura.numFactura})}" class="btn btn-primary btn-sm" role="button">Imprimir</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>
		<div class="col-sm-1"></div>
		</div>
		
		<div th:insert="Aplicacion/fragments/BotoneraPaginacion :: botonerapaginacion"></div>

		<div class="row">
			<div class="col-1"></div>	
			<div class="col-10 text-right">
				<a th:href="@{/gestionWeb/facturas/formaltafactura}" class="btn btn-primary" role="button">Nueva</a>
			</div>	
			<div class="col-1"></div>	
		</div>
	
	</div>
			
</body>
</html>
