<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>

	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
	<link th:rel="stylesheet" th:href="@{/css/CustomBootstrap.css}" />
	
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.standalone.css}"/>
    
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>

 <style>
 

.form-control-xs {
	height: calc(1em + .375rem + 2px) !important;
	padding: .125rem .25rem !important;
	font-size: .75rem !important;
	line-height: 1.5;
	border-radius: .2rem;
}

</style>
</head>

<body>

	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>

	<div class="container-fluid">
	
	<div class="row">
		<div class="titulo-pag2">Gestión de usuarios</div>
	</div>
	
		<form action="#" th:action="@{/gestionWeb/usuarios/activarusuario}" th:object="${usuarioWeb}" method="post">
	
			<input type="hidden" th:id="'idIdUsuarioHidden'" th:name="'idUsuarioHidden'"  th:field="*{idUsuarioWeb}" />	 
	
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6" style="border-bottom: 2px solid #000">
				<div class="subtitulo-pag2" th:text="'Datos del Usuario a activar'"></div>
				<br>
			</div>
			<div class="col-3"></div>
		</div>
		
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6" style="border-bottom: 2px solid #000">
				<div class="form-row">
					<div class="col-md-4 mb-3">
						<label for="labelFullNameWeb" th:text="'Nombre completo'"></label>
						 <input type="text" class="form-control" th:id="idFullNameWeb" th:name="fullNameWeb" th:field="*{fullNameWeb}" th:maxlength="25" th:readonly="true">
					</div>
					<div class="col-md-4 mb-3">
						<label for="labelUserNameWeb" th:text="'Nombre Usuario' "></label>
						<input type="text" class="form-control" th:id="idApelliCliWeb" th:name="apelliCliWeb" th:field="*{usernameWeb}" th:maxlength="25" th:readonly="true">
					</div>
					<div class="col-md-4 mb-3">
						<label for="labelEmailWeb" th:text="'email aplicación'"></label>
						 <input type="text" class="form-control" th:id="idDirCliWeb" th:name="dirCliWeb" th:field="*{emailWeb}" th:maxlength="35" th:readonly="true">
					</div>
				</div>				
				<div class="form-row">
					<div class="col-md-3 mb-3">
					    <label for="labelFecBajaUsu" th:text="'Fec. Baja Usuario'"></label>
       					<input type="text" class="form-control" th:id="idFecBajaUsu" th:name="fecFajaUsu" th:field="*{fecBajaUsuarioWeb}" th:value="${#calendars.format(fecBajaUsuarioWeb, 'dd/MM/yyyy')}" th:maxlength="10" th:readonly="true" />
					</div>
					<div class="col-md-3 mb-3">
						<br>
						<div class="form-check">
							<input type="checkbox" th:id="'idIndEmpleado'" th:name="'indEmpleado'" th:checked="*{indEmpleadoWeb}" class="form-check-input" th:disabled="disabled" />
							<label for="labelIndEmpleadoWeb" th:text="'Es empleado:' " class="form-check-label"></label>	
						</div>
					</div>
					
					<div class="col-md-6 mb-3">
					</div>
					
				</div>
				
				<div class="form-row">
					<div class="col-md-4 mb-3"></div>
					<div class="col-md-3 mb-3">
						<label for="labelFecBajaUsuario">Fec. Activación usuario</label>
						<div class="input-group">
							<div class="input-group-addon">
       						 <i class="fa fa-calendar"> </i> 
      					 	</div>
       						<input type="text" class="form-control" id="idFecAltaUsuario" name="fecAltaUsuario" th:field="*{fecAltaUsuarioWeb}" th:value="${#calendars.format(fecAltaUsuarioWeb, 'dd/MM/yyyy')}" placeholder="MM/DD/YYYY" required/>
						</div> 
			 		</div>
			 	<div class="col-md-5 mb-3"></div>
			  </div>

			</div>
			<div class="col-3"></div>
		</div>
		
		<div class="row">
			<div class="col-3"></div>
				<div class="col-6 text-right">
  		 	   	 <a th:href="@{/gestionWeb/usuarios/pagusuarios}" class="btn btn-primary" role="button">Volver</a>	 
			 	 <button type="submit" class="btn btn-primary">Confirmar</button>
		   		</div>
			<div class="col-3"></div>
	  	</div>
	
	</form>
	
	</div>
	
  <script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/locales/bootstrap-datepicker.es.min.js}" charset="UTF-8"></script>
 
 <script th:inline="javascript">
 	$(function () { 	
   	 $('#idFecAltaUsuario').datepicker({
    	 format: "dd/mm/yyyy",
    	 language: 'es'
    	});
    });
</script>

 </body>
</html>