<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>

	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
	<link th:rel="stylesheet" th:href="@{/css/CustomBootstrap.css}" />
	
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.standalone.css}"/>
    
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
	
 <style>

.form-control-xs {
	height: calc(1em + .375rem + 2px) !important;
	padding: .125rem .25rem !important;
	font-size: .75rem !important;
	line-height: 1.5;
	border-radius: .2rem;
 }
 </style>
</head>

<body>
	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	
	
	<div class="container-fluid">
	
	<div class="row">
		<div class="titulo-pag2">Gestión de usuarios</div>
	</div>
	
	 <div class="alert alert-danger"  th:if="${errorValidacion}" th:text="'Cod. Error: ' + ${mensajeError}"></div>
	
	 <form action="#" th:action="@{/gestionWeb/usuarios/insertarusuario}" th:object="${usuarioWeb}" method="post">
	
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6" style="border-bottom: 2px solid #000">
				<div class="subtitulo-pag2" th:text="'Nuevo Usuario'"></div>
			</div>
			<div class="col-3"></div>
		</div>
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6" style="border-bottom: 2px solid #000">
					<div class="form-row">
						<div class="col-md-4 mb-3">
							<label for="validationFullNameWeb" th:text="'Nombre completo usuario'"></label>
							 <input type="text" class="form-control" id="idfullNameWeb"
								th:field="*{fullNameWeb}" th:maxlength="25" required>
						</div>
						<div class="col-md-4 mb-3">
							<label for="validationUserNameWeb" th:text="'Nombre Usuario' "></label>
							<input type="text" class="form-control" id="idApelliCliWeb"
								th:field="*{usernameWeb}" th:maxlength="25" required>
						</div>
						<div class="col-md-4 mb-3">
							<label for="validationPasswordWeb" th:text="'Password' "></label>
							<input type="text" class="form-control" id="idPasswordWeb"
								th:field="*{passwordWeb}" th:maxlength="10" required>
						</div>
					</div>				
					<div class="form-row">
						<div class="col-md-6 mb-3">
							<label for="validationEmailWeb" th:text="'email aplicación'"></label> <input
								type="text" class="form-control" id="idDirCliWeb"
								th:field="*{emailWeb}" th:maxlength="35" required>
						</div>

						<div class="col-md-3 mb-3">
						 	<div class="form-check">
						 	<br>
						 		<input type="checkbox" th:checked="*{enabledWeb}" th:id="'idIndActivado'" th:name="'indActivado'" class="form-check-input"/>
								<label for="validationIndActivadoWeb" th:text="'Activar Usuario:' " class="form-check-label"></label>
							</div>
						</div>
						<div class="col-md-3 mb-3">
							<br>
							<div class="form-check">
								<input type="checkbox" th:checked="*{indEmpleadoWeb}" th:id="'idIndEmpleado'" th:name="'indEmpleado'" class="form-check-input"/>
								<label for="validationIndEmpleadoWeb" th:text="'Es empleado' " class="form-check-label"></label>	
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-4 mb-2">
							<label for="validationFecAltaUsu">Fec. alta usuario</label>
							<div class="input-group">
								<div class="input-group-addon">
       							 <i class="fa fa-calendar"> </i> 
      					 		</div>
       							<input type="text" class="form-control" th:id="idFecAltaUsuario" th:name="fecAltaUsuario" th:field="*{fecAltaUsuarioWeb}" th:value="${#calendars.format(fecAltaUsuarioWeb, 'dd/MM/yyyy')}">
							</div>
						</div>
						<div class="col-md-8 mb-2">
							<div class="form-group">
								<label for="idRolAplicacion" th:text="'Rol de usario en la aplicación ' "></label>
								<select th:object="${usuarioWeb}" class="form-control" name="rolAplicacion" id="idRolAplicacion">
									<option th:value="0" th:text="'Seleccionar rol Aplicación' "></option>
									<option th:each ="rolApli:${usuarioWeb.rolUsuarioWeb}"
   						 				th:value="${rolApli.id}"
  						  				th:text ="${rolApli.name}">
  									</option>
    							</select>
							</div>
						</div>
					</div>					
				</div>
				<div class="col-3"></div>
			</div>
			
			
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6 text-right">
					 <a th:href="@{/gestionWeb/usuarios/pagusuarios}" class="btn btn-primary" role="button">Volver</a>	 
			 	 	<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
				<div class="col-sm-3"></div>
		 </div>
	
	  	</form>
	</div>
	 	

  <script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/locales/bootstrap-datepicker.es.min.js}" charset="UTF-8"></script>
 
 <script th:inline="javascript">
 	$(function () { 	
   	 $('#idFecAltaUsuario').datepicker({
    	 format: "dd/mm/yyyy",
    	 language: 'es'
    	});
    });
</script>

</body>
</html>