<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.5.3/css/bootstrap.min.css">

	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
	
	<style> 	
	h3 {
  		font-weight: bold !important;
  		color: #495057 !important;
  		font-size: 30px !important;
  		
  		border-bottom: 2px solid #000 !important;
 		background:#e9ecef !important;
  		color:#003B49 !important;

  		display:inline-block !important;
  		padding:8px 20px !important;
 		margin-left:10px !important;
		}
		
	h5 {
  		color: #F2A900 !important;
  		font-size: 26px !important;
  		
 		background:#e9ecef !important;
  		color:#F2A900 !important;

  		display:inline-block !important;
  		padding:3px 15px !important;
 		margin-left:10px !important;
		}
  </style>

</head>

<body>
	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	
	<div class="container-fluid">
	
	<div class="row">
		<div class="col-sm-1"></div> 
  		<div class="col-sm-10">
  		  <h3 th:text="'Clientes'"></h3>
  		</div>
  		<div class="col-sm-1"></div> 
	</div>
	
	<div class="row">
		<div class="col-sm-1"></div>   
  		<div class="col-sm-10">
  			<form class="form-inline" action="#" th:action="@{/gestionWeb/clientes/pagclientesNue}" th:object="${objBusqueda}" method="post">
  				<div class="form-group mx-sm-3 mb-2">
    				<label for="buscarApellidos" th:text="'  Apellidos:  '"></label>
    				<input type="text" class="form-control" th:id="idBuscarApellido" th:name="buscarApellido" th:maxlength="25" th:field="*{apellidosBusqueda}" >
    				<button type="submit" class="btn btn-primary">Buscar</button>    
 				</div>	
			</form>
  		</div>
  		<div class="col-sm-1"></div> 
	</div>
	
	<div class="row">
		<div class="col-sm-1"></div>   
  		<div class="col-sm-10">
			<div class="panel panel-default" style="border-bottom: 2px solid #000">
				<table class="table table-sm">
					<thead class="thead-light">
						<tr>
						<th th:text="'Cod. Empleado'"></th>
						<th th:text="'Apellidos'"></th>
						<th th:text="'Nombre'"></th>
						<th th:text="'NIF'"></th>
						<th th:text="'NIF'"></th>
						<th th:text="'Pais'"></th>
						<th th:text="'email'"></th>
						<th th:text="'Teléfono'"></th>
						<th th:text="'Editar'"></th>
						<th th:text="'Baja'"></th>

						</tr>
					</thead>
					<tbody>
						<tr th:if="${pagGenerica.empty}">
							<td colspan="4">No hay clientes</td>
						</tr>
						<tr th:each="cliente:${pagGenerica.content}">
							<td th:text="${cliente.idCliente}"></td>
							<td th:text="${cliente.apellidos}"></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.DNI}"></td>
							<td th:text="${cliente.pais}"></td>
							<td th:text="${cliente.dirEmail}"></td>
							<td th:text="${cliente.telefono}"></td>
							<td th:text="${#calendars.format(cliente.fecAltaCliente, 'dd/MMM/yyyy')}"></td>
							<td><a th:href="@{/gestionWeb/clientes/formeditarcliente(idCliente=${cliente.idCliente})}" class="btn btn-primary" role="button">Editar</a></td>
							<td><a th:href="@{/gestionWeb/clientes/formbajacliente(idCliente=${cliente.idCliente})}" class="btn btn-primary" role="button">Baja</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>		
		<div class="col-sm-1"></div>
	</div>
		
		<div class="row">
			<div class="col-sm-1"></div>   
  			<div class="col-sm-10">
				<div th:insert="Aplicacion/fragments/BotoneraPaginacion :: botonerapaginacion"></div>
			</div>
			<div class="col-sm-1"></div>
		</div>
			
		<div class="row">
			<div class="col-sm-1"></div>   
  			<div class="col-sm-10">
  				<div class="d-flex">
  						<div class="mr-auto p-2">
  							<a th:href="@{/gestionWeb/clientes/formbajacliente}" class="btn btn-primary" role="button">Volver</a>
  						</div>
  						<div class="p-2">
						 	<a th:href="@{/gestionWeb/clientes/forminsertarcliente}" class="btn btn-primary" role="button">Nuevo</a>
						</div>
				</div>
  			</div>
  			<div class="col-sm-1"></div>
		</div>
	 </div>

</body>
</html>
