<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>

	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} " />
	<link href="../static/css/CustomBootstrap.css" th:href="@{/css/CustomBootstrap.css}" rel="stylesheet" />
  	
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.standalone.css}"/>
    
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>

 <style>

.form-control-xs {
	height: calc(1em + .375rem + 2px) !important;
	padding: .125rem .25rem !important;
	font-size: .75rem !important;
	line-height: 1.5;
	border-radius: .2rem;
}

</style>
	
  <script th:inline="javascript">
  </script>
	
</head>

 <body>
	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	
	<div class="container-fluid" style="margin-top:0px;">
		<div class="row">
			<div class="titulo-pag2">Gestión de Proyectos</div>
		</div>
		<form th:action="@{/gestionWeb/proyectos/modifproyecto}" th:object="${datosProyecto}" method="post">
		<div class="row">
			<br>
			<div class="col-1"></div>
  			<div class="col-10" >
  				<div class="subtitulo-pag2">Proceso Facturacion Proyecto ____</div>
  			</div>
  			<div class="col-1"></div>
  		</div>
  		<br>
  		<div class="row">
			<br>
			 <div class="col-1"></div>
  			 <div class="col-10">
  			 <!-- 3 Pestañas  de Pantalla -->
  			  	<ul class="nav nav-tabs" id="myTab" role="tablist">
  			   		<li class="nav-item">
  			    		<a class="nav-link active" id="home-tab" data-toggle="tab" href="#informacion" role="tab" aria-controls="home" aria-selected="true">Información</a>
  			   		</li>
  			   		<li class="nav-item">
    				 	<a class="nav-link" id="profile-tab" data-toggle="tab" href="#simulacion" role="tab" aria-controls="profile" aria-selected="false">Simulacion</a>
  			  		 </li>
  			   		<li class="nav-item">
    		 			<a class="nav-link" id="contact-tab" data-toggle="tab" href="#ejecucion" role="tab" aria-controls="contact" aria-selected="false">Ejecucion</a>
  			 		</li>
		     	</ul>
  			 </div>
  			<div class="col-1"></div>
  		</div>

		<div class="row">
			<br>
			<div class="col-1"></div>
  			<div class="col-10">
  			 <div class="tab-content" id="myTabContent">
  			 
  			 	<div class="tab-pane fade show active" id="informacion" role="tabpanel" aria-labelledby="home-tab">
  			 
  			 	<div class="form-row">
					<div class="col-md-12 mb-1">
    					<label for="labelNomGerenteProyecto1">Nombre del Gerente1</label>
    					 
  					</div>
  				</div>
	
  				</div>
  				<div class="tab-pane fade" id="simulacion" role="tabpanel" aria-labelledby="profile-tab">
  			 	
					 <div class="form-row">
					<div class="col-md-12 mb-1">
    					<label for="labelNomGerenteProyecto2">Nombre del Gerente2</label>
    					 
  					</div>
  				</div>
  			  
  						
  				</div>
  				<div class="tab-pane fade" id="ejecucion" role="tabpanel" aria-labelledby="contact-tab">
  			  <div class="form-row">
					<div class="col-md-12 mb-1">
    					<label for="labelNomGerenteProyecto3">Nombre del Gerente3</label>
    					 
  					</div>
  				</div>
  			  
				
  			 	</div>
  			 </div>
  			</div>
  			<div class="col-1"></div>
		</div>
		
 		<div class="row">
 			<div class="col-4"></div>
 			<div class="col-2"><a th:href="@{/gestionWeb/proyectos/pagproyectos}" class="btn btn-primary" role="button">Volver</a></div>
 			<div class="col-2"></div>
 			<div class="col-4"></div>
 		</div>
 				
 		</form>
	</div>
 
</body>
</html>