<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>

	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} " />
	<link href="../static/css/CustomBootstrap.css" th:href="@{/css/CustomBootstrap.css}" rel="stylesheet" />
  	
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.standalone.css}"/>
    
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>

 <style>
 
.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: #000000 !important;} .asteriskField{color: red;}

.form-control-xs {
	height: calc(1em + .375rem + 2px) !important;
	padding: .125rem .25rem !important;
	font-size: .75rem !important;
	line-height: 1.5;
	border-radius: .2rem;
}

h3 {
	font-weight: bold !important;
	color: #495057 !important;
	font-size: 30px !important;
	border-bottom: 2px solid #000 !important;
	background: #e9ecef !important;
	color: #003B49 !important;
	display: inline-block !important;
	padding: 8px 20px !important;
	margin-left: 10px !important;
}

h5 {
	color: #F2A900 !important;
	font-size: 26px !important;
	background: #e9ecef !important;
	color: #F2A900 !important;
	display: inline-block !important;
	padding: 3px 15px !important;
	margin-left: 10px !important;
   }

</style>
	
</head>

 <body>
	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	
	<div class="container-fluid" style="margin-top:0px;">
		<div class="row">
			<div class="titulo-pag2">Gestión de Proyectos</div>
		</div>
		<form th:action="@{/gestionWeb/empleados/modifproyecto}" th:object="${datosProyectoWeb}" method="post">
		<div class="row">
			<br>
			<div class="col-1"></div>
  			<div class="col-10" >
  				<div class="subtitulo-pag2">Datos del Nuevo Proyecto</div>
  			</div>
  			<div class="col-1"></div>
  		</div>
  		
  		<div class="row">
			<br>
			 <div class="col-1"></div>
  			 <div class="col-10">
  			 <!-- 3 Pestañas  de Pantalla -->
  			 <ul class="nav nav-tabs" id="myTab" role="tablist">
  			  <li class="nav-item">
    			<a class="nav-link active" id="home-tab" data-toggle="tab" href="#general" role="tab" aria-controls="home" aria-selected="true">General</a>
  			  </li>
  			  <li class="nav-item">
    			<a class="nav-link" id="profile-tab" data-toggle="tab" href="#empresas" role="tab" aria-controls="profile" aria-selected="false">Empresas</a>
  			 </li>
 			 <li class="nav-item">
  			  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#empleados" role="tab" aria-controls="contact" aria-selected="false">Empleados</a>
  			</li>
		   </ul>
  			 </div>
  			<div class="col-1"></div>
  		</div>

		<div class="row">
			<br>
			<div class="col-1"></div>
  			<div class="col-10">
  			 <div class="tab-content" id="myTabContent">
  			 
  			  <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="home-tab">

  			  	<div class="form-row">
					<div class="col-md-3 mb-5">
						<label for="validationProyecto" th:text="'Nombre Proyecto'"></label> 
						<input type="text" class="form-control" id="idNombreProyecto" th:field="*{nomProyectoWeb}" th:maxlength="30" required>
					</div>
						
					<div class="col-md-3 mb-5">
						<label for="validationUbiProyecto" th:text="'Ubicacion Proyecto'"></label> 
						<input type="text" class="form-control" id="idUbicacionProyecto" th:field="*{ubicacionProyectoWeb}" th:maxlength="30" required>
					</div>
						
					<div class="col-md-2 mb-5">
						<label for="labelImpBrutoAnu" th:text="'Importe Proyecto' "></label>
						<input type="text" class="form-control" id="idImpProyecto" name="impProyecto" th:field="*{impProyectoWeb}" th:value="${#numbers.formatDecimal(impProyectoWeb,3,2,'COMMA')}" th:maxlength="8">
					</div>
						
					<div class="col-md-2 mb-5">
						<label for="labelFecIniProyecto" th:text="'Fecha Inicio del proyecto' "></label>
       					<input type="text" class="form-control" th:id="idFecIniProyecto" th:name="fecIniProyecto" th:field="*{fecIniProyectoWeb}" th:value="${#calendars.format(fecIniProyectoWeb, 'dd/MM/yyyy')}" placeholder="MM/DD/YYYY">
					</div>
						
					<div class="col-md-2 mb-5">
					   <label for="labelFecFinProyecto" th:text="'Fecha Fin del proyecto' "></label>
					   <input type="text" class="form-control" th:id="idFecFinProyecto" th:name="fecFinProyecto" th:field="*{fecFinProyectoWeb}" th:value="${#calendars.format(fecFinProyectoWeb, 'dd/MM/yyyy')}" placeholder="MM/DD/YYYY">
					</div>
				</div>
				
				<div class="form-row">
					<div class="col-md-12 mb-1">
    					<label for="labelNomGerenteProyecto">Nombre del Gerente</label>
    					<input type="text" class="form-control" th:id="idNomGerente" th:name="nomGerente" th:field="*{nomGerenteProyectoWeb}" th:maxlength="30">
  					</div>
  				</div>
				 
				<div class="form-row">
					<div class="col-md-12 mb-1">
    				 	<label for="labelInfoComplementaria">Información Complementaria del proyecto</label>
    					<textarea class="form-control" th:id="idInfoComplementaria" th:name="infoComplementaria" th:field="*{infoComplementariaWeb}" rows="3"></textarea>
  					</div>
  				</div>
				<br><br><br><br><br>
  			</div>
  			
  			<div class="tab-pane fade" id="empresas" role="tabpanel" aria-labelledby="profile-tab">
  			
  				<div class="form-row">
				 <div class="subtitulo-pag3"><strong><U>Empresas participantes en el proyecto</U></strong></div>
				</div>
		   	
				<div class="form-row">
					<div class="col-md-5 mb-3">
						<div id="idDivEmpresasDis">
							<div class="subtitulo-pag4">Añadir Empresa participante en el proyecto</div>
						<div th:insert="GestionWeb/fragments/anadirEmpresaProyecto :: anadirEmprProyecto"></div>
						</div>
			 		</div>
				
					<div class="col-md-2 mb-3">
						<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
 						<br/>
 						<br/>
				 		<a th:id="'idLinkAnadir'"   th:name="'linkAnadir'"  class="btn btn-primary btn-sm" role="button"> Añadir &#8680;</a>
						<br/>
						<a th:id="'idLinkSuprimir'"  th:name="'linkSuprimir'" th:onclick="eliminarEmpresaAjax()" class="btn btn-colour-1" role="button">&#8678; Suprimir </a>
						<br/>
						</div>
					</div>
					
					<div class="col-md-5 mb-3">
						<div id="idDivEmpresasUTE">
							<div class="subtitulo-pag3">UTE de empresas que forman del proyecto</div>
							<div th:insert="GestionWeb/fragments/SeleccionEmpresasProyecto :: SelecEmprProyecto"></div>	
						</div>
					</div>
				</div>

			</div>
			
  			<div class="tab-pane fade" id="empleados" role="tabpanel" aria-labelledby="contact-tab">
				<div class="form-row">
				 <div class="subtitulo-pag3"><strong><U>Empleados Beigar actualmente en el proyecto</U></strong></div>
				</div>
				
				<div class="form-row">
					<div class="col-md-5 mb-3">
						<div id="idDivSubMenu1Usu">
						<div class="subtitulo-pag4"> Añada un empleado Beigar al proyecto</div>
						<div th:insert="GestionWeb/fragments/anadirEmpleadoProyecto :: anadirEmplProyecto"></div>
						</div>
			 		</div>
				
					<div class="col-md-2 mb-3">
						<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
 						<br/>
 						<br/>
				 		<a th:id="'idLinkAnadir'"   th:name="'linkAnadir'"  th:onclick="anadirEmpresaProyecto()" class="btn btn-primary btn-sm" role="button"> &#8678; Añadir</a>
						<br/>
						<a th:id="'idLinkSuprimir'"  th:name="'linkSuprimir'" th:onclick="eliminarEmpresaProyecto()" class="btn btn-colour-1" role="button">Suprimir &#8680;</a>
						<br/>
						</div> 
					</div>
					
					<div class="col-md-5 mb-3">
						<div id="idDivEmpleadoDis">
						 <div class="subtitulo-pag3">Empleados asignados de Beigar al proyecto</div>
							<div th:insert="GestionWeb/fragments/SeleccionEmpleadoProyecto :: SelecEmplProyecto"></div>	
						</div>
					</div>
				</div>

			</div>
		</div>	 
  		    </div>
  		  <div class="col-1"></div>
  		</div>
		
 		<div class="row">
 			<div class="col-4"></div>
 			<div class="col-2"><a th:href="@{/gestionWeb/proyectos/pagproyectos}" class="btn btn-primary" role="button">Cancelar</a></div>
 			<div class="col-2"><button type="submit" class="btn btn-colour-1">Crear</button></div>
 			<div class="col-4"></div>
 		</div>
 				
 		</form>
	</div>
 		
 <!-- Include Date Range Picker -->
 
  <script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/locales/bootstrap-datepicker.es.min.js}" charset="UTF-8"></script>
 
 <script th:inline="javascript">
 
 	$(function () { 	
   	 $('#idFecIniProyecto').datepicker({
    	 format: "dd/mm/yyyy",
    	 language: 'es'
    	});
   	 
   	 $('#idFecFinProyecto').datepicker({
    	 format: "dd/mm/yyyy",
    	 language: 'es'
    	});
    });
</script>

</body>
</html>