<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>

	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
	<link th:rel="stylesheet" th:href="@{/css/CustomBootstrap.css}" />
	 
	<style> 
	
	.divRoundedBuscar {
  	 margin-top: 6px;
  	 margin-left: 6px;
  	 margin-bottom: 6px;
   	 border-color: black;
   	 border-radius: 10px;
   	 border-style: solid;
   	 border-width: 1px;
   	 width: 35%;
   	 margin-right: 0;
   	 padding: 15px;
	}	
	
	.form-control-xs {
    	height: calc(1em + .375rem + 2px) !important;
    	padding: .125rem .25rem !important;
    	font-size: .75rem !important;
    	line-height: 1.5;
    	border-radius: .2rem;
	}
	
  </style>
 
 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>

</head>

<body>
	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="titulo-pag2">Proyectos Beigar</div>
		</div>
		
		<div class="row">
			<div class="col-sm-1"></div>
  			<div class="col-sm-10">
				<div class="divRoundedBuscar">
  					<form class="form-inline" th:action="@{/gestionWeb/proyectos/pagproyecto}" th:object="${objBusqueda}" method="post"> 
 						<div class="col-sm-3"><label for="buscarProyectos" th:text="'Proyecto: '"></label></div>
  						<div class="col-sm-6"><input type="text" class="form-control form-control-xs" th:id="idBuscarProyecto" th:name="buscarProyecto" th:maxlength="20" th:field="*{nomProyecto}"></div>
						<div class="col-sm-3"><button type="submit" class="btn btn-primary btn-sm">Buscar</button></div>
					</form>
  				</div>
  			</div>
  			<div class="col-sm-1"></div>
		</div>
	
		<div class="row">
		<div class="col-sm-1"></div>   
  		<div class="col-sm-10">
			<div class="panel panel-default" style="border-bottom: 2px solid #000">
				<table class="table table-sm">
					<thead class="thead-light">
						<tr>
							<th th:text="'Cod. Proyecto'"></th>
							<th th:text="'Proyecto'"></th>	 
							<th th:text="'Fec. Inicio Proyecto'"></th>
							<th th:text="'Fec. Fin Proyecto'"></th>
							<th th:text="'Importe Proyecto'"></th>
							<th th:text="'Acción'"></th>
							<th colspan="2" th:text="'Facturacion'"></th>
			
							<th th:text="'Proyecto'"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${pagGenerica.empty}">
							<td colspan="7">No hay Proyectos</td>
						</tr>
						<tr th:each="proyecto:${pagGenerica.content}">
							<td class="text-xs-center" th:text="${proyecto.idProyecto}"></td>
							<td th:text="${proyecto.nomProyecto}"></td>
							<td th:text="${#calendars.format(proyecto.fecIniProyecto, 'dd/MMM/yyyy')}"></td>
							<td th:text="${#calendars.format(proyecto.fecFinProyecto, 'dd/MMM/yyyy')}"></td>
							<td class="text-right" th:text="${#numbers.formatDecimal(proyecto.impProyecto,3,'POINT',2,'COMMA')}"></td>
							<td><a th:href="@{/gestionWeb/proyectos/formeditarproyecto(idProyecto=${proyecto.idProyecto})}" class="btn btn-primary btn-sm" role="button">Editar</a></td>
							<td><a th:href="@{/gestionWeb/proyectos/formfacturacionproyecto(idProyecto=${proyecto.idProyecto})}" class="btn btn-primary btn-sm" role="button">Consulta</a></td>
							<td><a th:href="@{/gestionWeb/proyectos/formgenerarfacproyecto(idProyecto=${proyecto.idProyecto})}" class="btn btn-primary btn-sm" role="button">Generar</a></td>
							<td><a th:href="@{/gestionWeb/proyectos/formfinproyecto(idProyecto=${proyecto.idProyecto})}" class="btn btn-primary btn-sm" role="button">Finalizar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>		
		<div class="col-sm-1"></div>
	</div>
		
		<div class="row">
			<div class="col-sm-1"></div>   
  			<div class="col-sm-10">
				<div th:insert="Aplicacion/fragments/BotoneraPaginacion :: botonerapaginacion"></div>
			</div>
			<div class="col-sm-1"></div>
		</div>
		
		
		<div class="row">
			<div class="col-1"></div>	
			<div class="col-10 text-right">
				<a th:href="@{/gestionWeb/proyectos/formaltaproyecto}" class="btn btn-primary" role="button">Nuevo Proyecto</a>
			</div>	
			<div class="col-1"></div>	
		</div>
		
	 </div>

</body>
</html>
