<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
 <!--  	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
	<link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.15.1/css/all.css}"/> -->
 </head>

	<body>
		<header th:fragment="botonerapaginacion">
			<div class="d-flex justify-content-center">
				<nav aria-label="Page navigation example" >
					<ul class="pagination">
					
					<li class="page-item disabled">
						<li th:if="${numPag != '0'}"       class="page-item"> <a class="page-link" th:href="${linkBotonAnt}"  th:text="Previa"></a></li>
						<li th:if="${numPagVisibles > 0}"  class="page-item" th:classappend="${numPagAct1 == 'S'}? 'page-item active'"> <a class="page-link" th:href="${linkBoton1}" th:text="${numPagWeb1}"></a></li>
						<li th:if="${numPagVisibles > 10}" class="page-item" th:classappend="${numPagAct2 == 'S'}? 'page-item active'"> <a class="page-link" th:href="${linkBoton2}" th:text="${numPagWeb2}"></a></li>
						<li th:if="${numPagVisibles > 20}" class="page-item" th:classappend="${numPagAct3 == 'S'}? 'page-item active'"> <a class="page-link" th:href="${linkBoton3}" th:text="${numPagWeb3}"></a></li>
						<li th:if="${numPagVisibles > 30}" class="page-item" th:classappend="${numPagAct4 == 'S'}? 'page-item active'"> <a class="page-link" th:href="${linkBoton4}" th:text="${numPagWeb4}"></a></li>
						<li th:if="${numPagVisibles > 40}" class="page-item" th:classappend="${numPagAct5 == 'S'}? 'page-item active'"> <a class="page-link" th:href="${linkBoton5}" th:text="${numPagWeb5}"></a></li>
						<li th:if="${numPagVisibles > 50}" class="page-item"> <a class="page-link" th:href="${linkBotonAvan}" th:text="Siguiente"></a></li>
					</ul> 	
					<!-- <a href="" class="baseclass" th:classappend="${isAdmin} ? adminclass : userclass"></a> -->												
				</nav>
			<!-- 	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
				<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
				<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script> -->
				
			</div>
		</header>
	</body>

</html>