<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.5.3/css/bootstrap.min.css">
<script src="webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</head>

<body>


 <header th:fragment="botonera">
  <div class="panel-heading"> 
  <center>
  		<div class="btn-group">
			<a th:href="@{/gestionWeb/forminsertarcliente}" class="btn btn-primary" role="button">Nuevo Cliente</a>
			<a th:href="@{/gestionWeb/pagclientes}" class="btn btn-primary" role="button">Clientes</a>
			<a th:href="@{/gestionWeb/forminsertarfactura}" class="btn btn-primary" role="button">Nueva Factura</a> 
			<a th:href="@{/gestionWeb/pagfacturas}" class="btn btn-primary" role="button">Facturas</a>
		</div>
		</center>
	</div>
  </header>

</body>
</html>