<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
 	
  </head>

  <body>
		<header th:fragment="SelecEmprProyecto">
     			<table class="table table-striped table-sm table-condensed">
					<thead class="thead-light">
						<tr>
							<th th:text="'Seleccionado'"></th>
							<th th:text="'Id. Empresa'"></th>
							<th th:text="'Empresa'"></th>
						</tr>
					</thead>
					<tbody class="table-striped">
						<tr th:each="listEmpreProyectoUTE, iterStat :${listaUTEEmpresas}">
						 	<td>
						 		<div style="display: flex; justify-content: center; align-items: center;"> 
								 <input type="checkbox" th:id="'idCheckEmpresaSel'+ ${iterStat.index}" th:name="checksEmpresaSel[]" th:checked="false" th:value="${listEmpreProyectoUTE.idEmpresa}" class="btn btn-primary btn-sm" />						
								</div>
							</td>
							<td th:text="${listEmpreProyectoUTE,.idEmpresa}"></td>
							<td th:text="${listEmpreProyectoUTE,.nomEmpresa}"></td>
						</tr>
					</tbody>
				 </table>
		</header>
	</body>

</html>