<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
  </head>
  <body>
		<header th:fragment="SelecEmplProyecto">
     		<table class="table table-sm">
				<thead class="thead-light">
					<tr>
						<th th:text="'Seleccionado'"></th>
						<th th:text="'Id. Empleado'"></th>
						<th th:text="'Nombre Empleado'"></th>
					</tr>
				</thead>
				<tbody class="table-striped">
					<tr th:each="listEmpleProyecto, iterStat :${listaEmpleadoSelec}">
					<td>
						<div style="display: flex; justify-content: center; align-items: center;"> 
						<input type="checkbox" th:id="'idCheckEmpleadoSel'+ ${iterStat.index}" th:name="checksEmpleadoSel[]" th:onclick="'anadirEmpleadoProyecto(this, ' + ${iterStat.index} + ')'" th:checked="false" th:value="${listEmpleProyecto.idEmpleado}" class="btn btn-primary btn-sm" />						
					</div>
				</td>
					<td th:text="${listEmpleProyecto.idEmpresa}"></td>
					<td th:text="${listEmpleProyecto.nomEmpresa}"></td>
				</tr>
				</tbody>
			</table>
		</header>
	</body>

</html>