<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
 
  <body>
  
    <div th:fragment="lineafactura" class="results-block">
    
		<div class="row" style="border-bottom: 2px solid #000">
     			<table class="table table-sm">
					<thead class="thead-light">
						<tr>
							<th th:text="'Cantidad'"></th>
							<th th:text="'Concepto'"></th>
							<th th:text="'% IVA'"></th>
							<th th:text="'% Descuento'"></th>
							<th th:text="'Importe'"></th>
							<th th:text="'Editar'"></th>
							<th th:text="'Eliminar'"></th>
						</tr>
					</thead>
					<tbody> 
					  	<tr th:each="linFactu, iterStat: *{beanFacturaLineas}">
					  	
					  		<td>
					  			<input type="hidden" th:id="'idLinFactu'+ ${iterStat.index}" th:name="'linFactu'+ ${iterStat.index}" th:field="*{beanFacturaLineas[__${iterStat.index}__].idLinFactura}"/>	
								<input type="text" class="form-control form-control-xs"  th:id="'idCantidad'+ ${iterStat.index}" th:name="'cantidad'+ ${iterStat.index}" th:field="*{beanFacturaLineas[__${iterStat.index}__].cantidad}" th:maxlength="2" th:readonly="false" required/>	
					  		</td>
							<td>
								<input type="text" class="form-control form-control-xs"  th:id="'idConcepto'+ ${iterStat.index}" th:name="'Concepto'+ ${iterStat.index}" th:field="*{beanFacturaLineas[__${iterStat.index}__].concepto}" th:maxlength="40" th:readonly="false" required/>
							</td>
							<td>
								<input type="text" class="form-control form-control-xs"  th:id="'idPorIva'+ ${iterStat.index}" th:name="'porIva'+ ${iterStat.index}" th:field="*{beanFacturaLineas[__${iterStat.index}__].porIva}" th:maxlength="2" th:readonly="false" required/>
							</td>
							<td>
								<input type="text" class="form-control form-control-xs"  th:id="'idPorDescuento'+ ${iterStat.index}" th:name="'porDescuento'+ ${iterStat.index}" th:field="*{beanFacturaLineas[__${iterStat.index}__].porDescuento}" th:maxlength="2" th:readonly="false" required/>
							</td>
							<td>
								<input type="text" class="form-control form-control-xs"  th:id="'idImpLineaFactu'+ ${iterStat.index}" th:name="'impLineaFactu'+ ${iterStat.index}" th:field="*{beanFacturaLineas[__${iterStat.index}__].impLinFactura}" th:maxlength="7" th:readonly="false" required/>	
							</td>
							<td>
								<button type="button" class="btn btn-primary btn-sm">Edit</button>	
							</td>
							<td>
								<button type="button" class="btn btn-primary btn-sm">Eliminar</button>	
							</td>
							
						</tr>
					</tbody>
			 </table>
		</div>
				
	</div>	

	</body>
</html>
