<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
	<head>
	
	 <link th:href="@{/public/css/bootstrap/4.5.3/bootstrap.min.css}" rel="stylesheet" />  
	
	<style>

.divRounded {
   margin-top: 10px;
   margin-left: 10px;
   border-color: black;
   border-radius: 10px;
   border-style: solid;
   border-width: 1px;
   width: 40%;
   margin-right: 0;
   padding: 25px;
}

	</style>

</head>

	<body>
	<br>	
	<div class="container">
   	 <div class="row">
        <div class="col-5 mx-auto">
     
           <div th:id="idImage1" class="nauk-info-connections text-center">
				<img th:src="@{/public/images/LogoBeigarRename.jpg}" class="img-rounded">		 
			</div>
        </div>
    </div>
    <br>
  
	 <div class="row">
        <div class="col-5 mx-auto divRounded">
    
     		<div th:id="idImage2" class="nauk-info-connections text-center">
				<img th:src="@{/public/images/imgTecnologia1.jpg}" class="img-rounded">		 
			</div>
           <br>
				<form action="#" th:action="@{/login}" method="post">
              <!-- 	<p class="description">Login de Apliación piloto</p> -->
              	
              	<div class="alert alert-info" role="alert"> Inicio de sesión Apliación</div>
                <!-- Input fields -->
                <div class="form-group">
                    <label for="username">Usuario:</label>
                   	<input type="text" class="form-control username" th:id="username" placeholder="Username..." th:name="username">
                </div>
                <div class="form-group">
                   	<label for="password">Password:</label>
                  	<input type="password" class="form-control password" th:id="password" placeholder="Password..." th:name="password">
                </div>
                <button type="submit" class="btn btn-primary btn-customized">Login</button>
                <!-- End input fields -->
           <!--  <p class="copyright">&copy; Bootstrap 4 "Align Center" tutorial by <a href="https://azmind.com">AZMIND</a>.</p>  -->
            </form>		 
			</div>
      
    </div>
	
    </div>

</body>
</html>