<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
	<head>
	
	 <link th:href="@{/public/bootstrap/4.5.3/css/bootstrap.min.css}" rel="stylesheet" />  
	<style>

	</style>

</head>

	<body>
	
	<div class="container h-0">
	 
	 <div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<div th:id="idImage1" class="d-flex justify-content-center">
					<img th:src="@{/public/images/image1.jpg}" class="img-rounded" width="450" height="250">
				</div>
			</div>
			<div class="col-3">
			<div th:id="idImage2" class="d-flex justify-content-center">
				<img th:src="@{/public/images/LogoBeigarRename.jpg}" class="img-rounded">
				<p>© 2021</p>
				<p>Version Beta 1.0<p>
			</div>
		</div>
	</div>
    	<div class="row h-60 justify-content-center align-items-center">
           <!-- Form -->
            <form action="#" th:action="@{/login}" method="post">
               	<h1>Beigar</h1>
              	<p class="description">Login de Apliación piloto</p>
                <!-- Input fields -->
                <div class="form-group">
                    <label for="username">Usuario:</label>
                   	<input type="text" class="form-control username" th:id="username" placeholder="Username..." th:name="username">
                </div>
                <div class="form-group">
                   	<label for="password">Password:</label>
                  	<input type="password" class="form-control password" th:id="password" placeholder="Password..." th:name="password">
                </div>
                <button type="submit" class="btn btn-primary btn-customized">Login</button>
                <!-- End input fields -->
             <!--    <p class="copyright">&copy; Bootstrap 4 "Align Center" tutorial by <a href="https://azmind.com">AZMIND</a>.</p> -->
            </form>
            <!-- Form end -->
    	</div>
    	
    	
	</div>
</body>
</html>