<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
  
	<link href="../static/css/CustomBootstrap.css" th:href="@{/css/CustomBootstrap.css}" rel="stylesheet" />
  	
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.standalone.css}"/>

 	<style>
 
	.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: #000000 !important;} .asteriskField{color: red;}

	.form-control-xs {
		height: calc(1em + .375rem + 2px) !important;
		padding: .125rem .25rem !important;
		font-size: .75rem !important;
		line-height: 1.5;
		border-radius: .2rem;
	}

</style>
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</head>

<body>

	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	
	<div class="container-fluid" style="margin-top:0px;">
		<div class="row">
			<div class="titulo-pag2">Gestión de Empleado</div>
		</div>
		
		<form th:action="@{/gestionWeb/empleados/activarempleado}" th:object="${empleadoWeb}" method="post">
		
			<input type="hidden" th:id="'idIdEmpleadoWeb'" th:name="'idEmpleadoWeb'"  th:field="*{idEmpleadoWeb}" />	 
			
		<div class="row">
			<br>
			<div class="col-1"></div>
  			<div class="col-10" >
  				<div class="subtitulo-pag2">Activar Empleado</div>
  			</div>
  			<div class="col-1"></div>
  		</div>	
		<div class="row">
			<div class="col-1"></div>
  			<div class="col-2" style="border-bottom: 2px solid #000; border-top: 2px solid #000">
  				<div style="display: flex; justify-content: center; align-items: center;">
					<img class='img-thumbnail' th:src="'data:image/jpeg;base64,' + ${imgFoto}" width="200" height="400" />
				</div>
				<div style="display: flex; justify-content: center; align-items: center;"> 
				</div>
 			</div>
  			<div class="col-8" style="border-bottom: 2px solid #000; border-top: 2px solid #000">
  				<div class="form-row">
						<div class="col-md-5 mb-3">
							<label for="labelNombre" th:text="'Nombre'"></label> 
							<input type="text" class="form-control" id="idNombreWeb" th:field="*{nombreWeb}" th:maxlength="25" th:readonly="true">
						</div>
						<div class="col-md-5 mb-3">
							<label for="labelApellidos" th:text="'Apellidos' "></label>
							<input type="text" class="form-control" id="idApellidosWeb" th:field="*{apellidosWeb}" th:maxlength="25" th:readonly="true">
						</div>
						<div class="col-md-2 mb-3">
							<label for="labelTelefMovil" th:text="'Teléfono móvil' "></label>
							<input type="text" class="form-control" id="idTelefMovilWeb" th:field="*{telefMovilWeb}" th:maxlength="14" th:readonly="true">
						</div>
				</div>
							
				<div class="form-row">
					<div class="col-md-7 mb-3">
						<label for="labelDireccion" th:text="'Dirección'"></label> 
						<input type="text" class="form-control" id="idDireccionWeb" th:field="*{direccionWeb}" th:maxlength="25" th:readonly="true">
					</div>
					<div class="col-md-2 mb-3">
						<label for="labelCP" th:text="'Codigo postal' "></label>
						<input type="text" class="form-control" id="idCodPosWeb" th:field="*{codPostalWeb}" th:maxlength="5" th:readonly="true">
					</div>
					<div class="col-md-3 mb-3">
						<div class="form-group">
							<label for="labelPais" th:text="'Pais empleado: ' "></label>
							<select th:object="${empleadoWeb}" class="form-control" name="paisEmpleado" id="idPaisEmpleado" th:readonly="true" th:disabled="disabled">
								<option th:value="0" th:text="'Seleccionar país empleado' "></option>
								<option th:each ="paisEmple:${empleadoWeb.paisWeb}"
   						 			th:value="${paisEmple.idPais}"
  						  			th:text ="${paisEmple.nombrePais}"
  						  			th:selected="${paisEmple.idPais} == ${empleadoWeb.codPaisWeb}">
  								</option>
    						</select>
						</div>
					</div>
				</div>
				
				<div class="form-row">
					<div class="col-md-4 mb-4">
						<label for="labelNIF" th:text="'NIF' "></label>
						<input type="text" class="form-control" id="idNIFWeb" th:field="*{nifWeb}" th:maxlength="14" th:readonly="true">
					</div>
					<div class="col-md-2 mb-4">
						<label for="labelFecEmpleado" th:text="'Fec. baja empleado ' "></label>
       						<input class="form-control" type="text" th:id="idFecBajaEmpleado" th:name="fecBajaEmpleado" placeholder="MM/DD/YYYY" th:field="*{fecBajaEmpleadoWeb}" th:value="${#calendars.format(fecBajaEmpleadoWeb, 'dd/MM/yyyy')}" th:readonly="true"/>
					</div>
	 
					<div class="col-md-2 mb-4">
						<label for="labelTelefAlter" th:text="'Teléfono alternativo' "></label>
						<input type="text" class="form-control" th:id="idTelefAlterWeb" th:field="*{telefono2}" th:maxlength="14" th:readonly="true">
					</div>
					<div class="col-md-4 mb-4">
						<label for="labelEmail" th:text="'email empleado' "></label>
						<input type="text" class="form-control" th:id="idEmailWeb" th:field="*{emailWeb}" th:maxlength="25" th:readonly="true">
					</div>
				</div>
				
				<div class="form-row">
					<div class="col-md-3 mb-4">
						<div class="form-group">
								<label for="labelPuestoTrabajo" th:text="'Puesto Trabajo: ' "></label>
								<select th:object="${empleadoWeb}" class="form-control" name="puestoTrabajoEmpleado" id="idPuestoTrabajoEmpleado" th:readonly="true" th:disabled="disabled">
									<option th:value="0" th:text="'Seleccionar puesto trabajo' "></option>
									<option th:each ="pTrabajoEmple:${empleadoWeb.puestoTrabajoWeb}"
   						 				th:value="${pTrabajoEmple.idPuestoTrabajo}"
  						  				th:text ="${pTrabajoEmple.desPuestoTrabajo}"
  						  				th:selected="${pTrabajoEmple.idPuestoTrabajo} == ${empleadoWeb.codPuestoTrabajoWeb}">
  									</option>
    							</select>
						</div>
					</div>
				 		<div class="col-md-4 mb-4">
							<div class="form-group">
								<label for="labelNumSegSocial" th:text="'Número Seguridad Social: ' "></label>
								<input type="text" class="form-control" th:id="idNumSeguridaSocialWeb" th:field="*{numSeguridaSocialWeb}" th:maxlength="14" th:readonly="true">	
							</div>
				 		</div>
				<div class="col-md-3 mb-4">
					<label for="labelNumCCWeb" th:text="'Numero cuenta corriente (IBAN)' "></label>
					<input type="text" class="form-control" th:id="idNumCCWeb" th:name="numCCWeb" th:field="*{numCuentaCorrienteWeb}" th:maxlength="24" th:readonly="true">
				</div>
				<div class="col-md-2 mb-4">
					<label for="labelImpBrutoAnu" th:text="'Importe bruto anual' "></label>
					<input type="text" class="form-control" th:id="idImpBrutoAnual" th:name="impBrutoAnual" th:field="*{impBrutoAnualWeb}" th:maxlength="10" th:readonly="true">
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-5 mb-3"></div>
				<div class="col-md-2 mb-3">
					<label for="labelFecAltaEmpleado" th:text="'Fec. alta empleado'"></label>
					<div class="input-group">
						 <div class="input-group-addon">
       					   <i class="fa fa-calendar"> </i>
      					 </div>
       					<input type="text" class="form-control" th:id="idFecAltaEmpleado" th:name="fecAltaEmpleado" th:field="*{fecAltaEmpleadoWeb}" th:value="${#calendars.format(fecAltaEmpleadoWeb, 'dd/MM/yyyy')}" th:maxlength="10" th:readonly="false" />
					</div>
			 	</div>
			 	<div class="col-md-5 mb-3"></div>
			  </div>	
  			 <div class="col-1"></div>
 			</div>
 		</div>
 		<div class="row">
 			<div class="col-1"></div>
 			<div class="col-2"><a th:href="@{/gestionWeb/empleados/pagempleados10}" class="btn btn-primary" role="button">Volver</a></div>
 			<div class="col-5"></div>
 			<div class="col-3"><button type="submit" class="btn btn-primary">Confirmar</button></div>
 			<div class="col-1"></div>
		</div>
 	  </form>
 	</div>
	
  <script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/locales/bootstrap-datepicker.es.min.js}" charset="UTF-8"></script>
 
  <script th:inline="javascript">
  
 	$(function () { 	
   	 $('#idFecAltaEmpleado').datepicker({
    	 format: "dd/mm/yyyy",
    	 language: 'es'
    	});
    });
 </script>

</body>
</html>