<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
  
  	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} " />
	<link th:rel="stylesheet" th:href="@{/css/CustomBootstrap.css}" />
  	
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.standalone.css}"/>

	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	
 <style>
 
p.letPeq {
	font-size: small;
}

</style>

	<script th:inline="javascript">
	 	$(document).ready(function(){
			$("#idLinkCambiarFoto").click(function(){
		 		$("#myModalCambiarFoto").modal();
		 	});
	 	 });
	</script>
</head>

<body>
	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	
	<div class="container-fluid">
	
		<!-- Mostrar los errores en una lista -->
			<!-- 
			<div th:object="${producto}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
				<li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
				</ul>
		</div>  -->
				 
		<div class="row">
			<div class="titulo-pag2">Gestión Empleados</div>
		</div>
		
		<div class="alert alert-danger"  th:if="${errorValidacion}" th:text="'Cod. Error: ' + ${mensajeError}"></div>
		
		<form th:action="@{/gestionWeb/empleados/modifempleado}" th:object="${empleadoWeb}" method="post">
		
		  <input type="hidden" th:id="'idIdEmpleadoWeb'" th:name="'idEmpleadoWeb'" th:field="*{idEmpleadoWeb}" />	 
			
		 <div class="row">
			<div class="col-1"></div>
  			<div class="col-10" >
  				<div class="subtitulo-pag2">Datos del Empleado</div>
  			</div>
  			<div class="col-1"></div>
  		</div>	
		<div class="row">
			<div class="col-1"></div>
  			<div class="col-2" style="border-bottom: 2px solid #000; border-top: 2px solid #000">
  				<div style="display: flex; justify-content: center; align-items: center;">
					<img class='img-thumbnail' th:src="'data:image/jpeg;base64,' + ${imgFoto}" width="200" height="400" />
				</div>
				<div style="display: flex; justify-content: center; align-items: center;"> 
				<br>
				 <a th:id="'idLinkCambiarFoto'" th:name="'linkCambiarFoto'" class="btn btn-colour-1" role="button">Añadir/Cambiar foto</a>
				</div>
 			</div>
  			<div class="col-8" style="border-bottom: 2px solid #000; border-top: 2px solid #000">
  				<div class="form-row">
						<div class="col-md-5 mb-3">
							<label for="validationNombre" th:text="'Nombre'"></label> 
							<input type="text" class="form-control" id="idNombreWeb" th:field="*{nombreWeb}" th:maxlength="25" required>
						</div>
						<div class="col-md-5 mb-3">
							<label for="validaApellidos" th:text="'Apellidos' "></label>
							<input type="text" class="form-control" id="idApellidosWeb" th:field="*{apellidosWeb}" th:maxlength="25" required>
						</div>
						<div class="col-md-2 mb-3">
							<label for="validaTelefMovil" th:text="'Teléfono móvil' "></label>
							<input type="text" class="form-control" id="idTelefMovilWeb" th:field="*{telefMovilWeb}" th:maxlength="14" required>
						</div>
				</div>
				
				<div class="form-row">
					<div class="col-md-7 mb-3">
						<label for="labelDireccion" th:text="'Dirección'"></label> 
						<input type="text" class="form-control" id="idDireccionWeb" th:field="*{direccionWeb}" th:maxlength="25">
					</div>
					<div class="col-md-2 mb-3">
						<label for="labelCP" th:text="'Codigo postal' "></label>
						<input type="text" class="form-control" id="idCodPosWeb" th:field="*{codPostalWeb}" th:maxlength="5" >
					</div>
					<div class="col-md-3 mb-3">
						<div class="form-group">
							<label for="labelPais" th:text="'Pais empleado: ' "></label>
							<select th:object="${empleadoWeb}" class="form-control" name="paisEmpleado" id="idPaisEmpleado">
								<option th:value="0" th:text="'Seleccionar país empleado' "></option>
								<option th:each ="paisEmple:${empleadoWeb.paisWeb}"
   						 			th:value="${paisEmple.idPais}"
  						  			th:text ="${paisEmple.nombrePais}"
  						  			th:selected="${paisEmple.idPais} == *{codPaisWeb}">
  								</option>
    						</select>
						</div>
					</div>
				</div>
				
				<div class="form-row">
					<div class="col-md-3 mb-5">
						<label for="labelNIF" th:text="'NIF' "></label>
						<input type="text" class="form-control" id="idNIFWeb" th:field="*{nifWeb}" th:maxlength="14">
					</div>
					<div class="col-md-2 mb-5">
						<label for="labelFecAltaEmpleado" th:text="'Fec. alta empleado' "></label>
						<div class="input-group">
							<div class="input-group-addon">
       						 <i class="fa fa-calendar"> </i>
      					 	</div>
       						<input type="text"  class="form-control" id="idFecAltaEmpleado" name="fecAltaEmpleado" th:field="*{fecAltaEmpleadoWeb}" th:value="${#calendars.format(fecAltaEmpleadoWeb, 'dd/MM/yyyy')}" th:readonly="false" required />
						</div>
					</div>
					<div class="col-md-2 mb-5">
						<label for="validaTelefAlter" th:text="'Teléfono alternativo' "></label>
						<input type="text" class="form-control" id="idTelefAlterWeb" th:field="*{telefono2}" th:maxlength="14" th:classappend="${#fields.hasErrors('telefono2')}? is-invalid">
						<small class="form-text text-danger" th:if="${#fields.hasErrors('telefono2')}" th:errors="*{telefono2}"> Teléfono alternativo es obligatorio</small>
					</div>
					<div class="col-md-3 mb-5">
						<label for="labelEmailEmpleado">Email empleado</label>
						<input type="text" class="form-control" id="idEmailWeb" th:field="*{emailWeb}" th:maxlength="30" required>
					</div>
					<div class="col-md-2 mb-5">
						<label for="labelImpFacturadoMes">Imp Factura Mes</label>
						<input type="text" class="form-control" id="impFacturadoMes" th:field="*{impFacturadoMes}" th:value="${#numbers.formatDecimal(impFacturadoMes,3,2,'COMMA')}" th:maxlength="8">
					</div>
				</div>
				
				<div class="form-row">
						<div class="col-md-3 mb-4">
							<div class="form-group">
								<label for="labelPuestoTrabajo" th:text="'Puesto Trabajo ' "></label>
								<select th:required th:id="idPuestoTrabajo" th:name="puestoTrabajo" th:object="${empleadoWeb.codPuestoTrabajoWeb}" class="form-control" >
									<option th:value="0" th:text="'Seleccione un puesto de trabajo' "></option>
									<option th:each ="pTrabajoEmple:${empleadoWeb.puestoTrabajoWeb}"
   						 				th:value="${pTrabajoEmple.idPuestoTrabajo}"
  						  				th:text ="${pTrabajoEmple.desPuestoTrabajo}"
  						  				th:selected="${pTrabajoEmple.idPuestoTrabajo} == ${empleadoWeb.codPuestoTrabajoWeb}">
  									</option>
    							</select>
							</div>
						</div>
				 		<div class="col-md-4 mb-4">
							<div class="form-group">
								<label for="idNumSegSocial" th:text="'Número Seguridad Social ' "></label>
								<input type="text" class="form-control" id="idNumSeguridaSocialWeb" th:field="*{numSeguridaSocialWeb}" th:maxlength="14" >	
							</div>
				 		</div>
					<div class="col-md-3 mb-4">
						<label for="validadNumCCWeb" th:text="'Numero cuenta corriente (IBAN)' "></label>
						<input type="text" class="form-control" id="idNumCCWeb" name="numCCWeb" th:field="*{numCuentaCorrienteWeb}" th:maxlength="24">
					</div>
					<div class="col-md-2 mb-4">
						<label for="labelImpBrutoAnu" th:text="'Sueldo bruto anual' "></label>
						<input type="text" class="form-control" id="idImpBrutoAnual" name="impBrutoAnual" th:field="*{impBrutoAnualWeb}" th:value="${#numbers.formatDecimal(impBrutoAnualWeb,3,2,'COMMA')}" th:maxlength="8">
					</div>
				</div>
  			</div>
  			<div class="col-1"></div>
 		</div>
 		
 		<div class="row">
 			<div class="col-1"></div>
 			<div class="col-10 text-right"> 
 				<a th:href="@{/gestionWeb/empleados/pagempleados10nuemod(numPag=${numPag}, numPos=${numPos})}" class="btn btn-primary btn-sm" role="button">Volver</a>
				<button type="submit" class="btn btn-primary btn-sm">Guardar</button>
 			</div>
 			<div class="col-1"></div>
		</div>
 		</form>
 	</div>
  
  <!-- Modal Cambiar Foto -->
  <div id="myModalCambiarFoto" class="modal" tabindex="-1" role="dialog">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      <div class="modal-header">
        <div class="subtitulo-pag-ayuda" th:text="'Añadir/cambiar foto empleado'"></div>
      </div>
      <div class="modal-body">
    	<div class="container">	
             <form method="post" th:action="@{/gestionWeb/empleados/uploadimagenempleado(numPag=${numPag}, numPos=${numPos})}" enctype="multipart/form-data">
               	 <input type="hidden" th:id="idEmpleadoImg" th:name="empleadoImg" th:value="${idEmpleadoImg}" /> 
                 <div class="form-group">
                   <input type="file" name="file" class="form-control-file btn-sm">
                 </div>
                 <button type="submit" class="btn btn-primary btn-sm float-right">Enviar Foto</button>
             </form>
            <br>
            <p class="letPeq" th:id="'idP1'" th:text="'Nota: El tamaño de la foto no puede superar 65.535 bytes'"></p>
   		 </div>
	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancelar</button>
      </div>
   	 </div>
  		</div>
	</div>
 
  <script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/locales/bootstrap-datepicker.es.min.js}" charset="UTF-8"></script>
 
 <script th:inline="javascript">
 	$(function () { 	
   	 $('#idFecAltaEmpleado').datepicker({
    	 format: "dd/mm/yyyy",
    	 language: 'es'
    	});
    });
</script>

</body>
</html>