<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
  
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
	<link href="../static/css/CustomBootstrap.css" th:href="@{/css/CustomBootstrap.css}" rel="stylesheet" />
	
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.standalone.css}"/>
    
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
   
 <style>
 
.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: #000000 !important;} .asteriskField{color: red;}

.form-control-xs {
	height: calc(1em + .375rem + 2px) !important;
	padding: .125rem .25rem !important;
	font-size: .75rem !important;
	line-height: 1.5;
	border-radius: .2rem;
}

h3 {
	font-weight: bold !important;
	color: #495057 !important;
	font-size: 30px !important;
	border-bottom: 2px solid #000 !important;
	background: #e9ecef !important;
	color: #003B49 !important;
	display: inline-block !important;
	padding: 8px 20px !important;
	margin-left: 10px !important;
}

h5 {
	color: #F2A900 !important;
	font-size: 26px !important;
	background: #e9ecef !important;
	color: #F2A900 !important;
	display: inline-block !important;
	padding: 3px 15px !important;
	margin-left: 10px !important;
}

</style>
 
	 <script th:inline="javascript">
	 
	   /*<![CDATA[*/
		var mostrarModalFoto = [[${mostrarModalFoto}]];
	   /*]]>*/

	 	$(document).ready(function(){
 
			$("#idLinkCrearUsu").click(function(){
			 // Cargar valores de empleado a usuario
		 		$("#myModalAltaUsu").modal();
		 	});
 
		 	$('#idSaltarPaso').click(function()
		 	 {
		 	  document.getElementById("idFormPaginacion").submit();
			 });
		 	
		 	if (mostrarModalFoto == "S")
			   {
			    $("#myModalCambiarFoto").modal();
			   }
	 	 }); 
	 	
	</script>
</head>

<body>

	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	
	<div class="container-fluid" style="margin-top:0px;">
		<div class="row">
			<div class="titulo-pag2">Gestión de Empleados</div>
		</div>
		<form th:action="@{/gestionWeb/empleados/altaempleado}" th:object="${empleadoWeb}" method="post">
		<div class="row">
			<br>
			<div class="col-1"></div>
  			<div class="col-10" >
  				<div class="subtitulo-pag" th:text="'Datos Nuevo Empleado'"></div>
  			</div>
  			<div class="col-1"></div>
  		</div>	
		<div class="row">
			<div class="col-1"></div>
  			<div class="col-2" style="border-bottom: 2px solid #000; border-top: 2px solid #000">
  				<div style="display: flex; justify-content: center; align-items: center;">
					<img class='img-thumbnail' th:src="'data:image/jpeg;base64,' + ${imgFoto}" width="200" height="400" />
				</div>
			  <!--  <div style="display: flex; justify-content: center; align-items: center;"> 
				   <a th:id="'idLinkCambiarFoto'" th:name="'linkCambiarFoto'" class="btn btn-colour-1" role="button">Añadir foto</a> 
				</div>  -->
			 </div> 	
  			<div class="col-8" style="border-bottom: 2px solid #000; border-top: 2px solid #000">
  				<div class="form-row">
						<div class="col-md-5 mb-3">
							<label for="validationNombre" th:text="'Nombre'"></label> 
							<input type="text" class="form-control" th:id="idNombreWeb" th:field="*{nombreWeb}" th:maxlength="25" required>
						</div>
						<div class="col-md-5 mb-3">
							<label for="validaApellidos" th:text="'Apellidos' "></label>
							<input type="text" class="form-control" th:id="idApellidosWeb" th:field="*{apellidosWeb}" th:maxlength="25" required>
						</div>
						<div class="col-md-2 mb-3">
							<label for="validaTelefMovil" th:text="'Teléfono móvil' "></label>
							<input type="text" class="form-control" th:id="idTelefMovilWeb" th:field="*{telefMovilWeb}" th:maxlength="14">
						</div>
				</div>
				
				<div class="form-row">
					<div class="col-md-7 mb-3">
						<label for="labelDireccion" th:text="'Dirección'"></label> 
						<input type="text" class="form-control" th:id="idDireccionWeb" th:field="*{direccionWeb}" th:maxlength="25">
					</div>
					<div class="col-md-2 mb-3">
						<label for="labelCP" th:text="'Codigo postal' "></label>
						<input type="text" class="form-control" th:id="idCodPosWeb" th:field="*{codPostalWeb}" th:maxlength="5" >
					</div>
					<div class="col-md-3 mb-3">
						<div class="form-group">
							<label for="labelPais" th:text="'Pais empleado ' "></label>
							<select class="form-control" th:name="paisEmpleado" th:id="idPaisEmpleado" th:required="true"> 
								<option th:value="''" th:text="'Seleccionar país empleado' "></option>
								<option th:each ="paisEmple:${empleadoWeb.paisWeb}"
   						 			th:value="${paisEmple.idPais}"
  						  			th:text ="${paisEmple.nombrePais}"
  						  			th:selected="${paisEmple.idPais} == 73">
  								</option>
    						</select>	
						</div>
					</div>
				</div>
				
				<div class="form-row">
					<div class="col-md-4 mb-4">
						<label for="labelNIF" th:text="'NIF' "></label>
						<input type="text" class="form-control" th:id="idNIFWeb" th:field="*{nifWeb}" th:maxlength="14">
					</div>
					<div class="col-md-2 mb-4">
						<label for="labelAltaEmpresa" th:text="'Fecha Alta Empleado' "></label>
           				 <input type="text" class="form-control" th:id="idFecAltaEmpleado" th:name="fecAltaEmpleado" th:field="*{fecAltaEmpleadoWeb}" th:value="${#calendars.format(fecAltaEmpleadoWeb, 'dd/MM/yyyy')}">
					</div>
					
					<div class="col-md-2 mb-4">
						<label for="labelTelefAlter" th:text="'Teléfono alternativo' "></label>
						<input type="text" class="form-control" id="idTelefAlterWeb" th:field="*{telefono2}" th:maxlength="14">
					</div>
					<div class="col-md-4 mb-4">
						<label for="labelemail" th:text="'email empleado' "></label>
						<input type="text" class="form-control" th:id="idEmailWeb" th:field="*{emailWeb}" th:maxlength="35" th:classappend="${#fields.hasErrors('emailWeb')}? is-invalid" required>
						<p th:if="${#fields.hasErrors('emailWeb')}" th:errors="*{emailWeb}">Formato no correcto del email</p>
					</div>
				</div>
				
				<div class="form-row">
						<div class="col-md-3 mb-4">
							<div class="form-group">
								<label for="labelPuestoTrabajo" th:text="'Puesto Trabajo ' "></label>
								<select class="form-control" th:name="puestoTrabajoEmpleado" th:id="idPuestoTrabajoEmpleado" th:required="true">
									<option th:value="0" th:text="'Seleccionar puesto trabajo' "></option>
									<option th:each="pTrabajoEmple:${empleadoWeb.puestoTrabajoWeb}"
   						 				th:value="${pTrabajoEmple.idPuestoTrabajo}"
  						  				th:text ="${pTrabajoEmple.desPuestoTrabajo}">
  									</option>
    							</select>
							</div>
						</div>	
				 		<div class="col-md-4 mb-4">
							<div class="form-group">
								<label for="idNumSegSocial" th:text="'Número Seguridad Social ' "></label>
								<input type="text" class="form-control" th:id="idNumSeguridaSocialWeb" th:field="*{numSeguridaSocialWeb}" th:maxlength="14" >	
							</div>
				 		</div>
				<div class="col-md-3 mb-4">
					<label for="validadNumCCWeb" th:text="'Numero Cuenta Corriente (IBAN)' "></label>
					<input type="text" class="form-control" th:id="idNumCCWeb" th:name="numCCWeb" th:field="*{numCuentaCorrienteWeb}" th:maxlength="24">
				</div>
				<div class="col-md-2 mb-4">
					<label for="labelImpBrutoAnu" th:text="'Sueldo bruto anual' "></label>
					<input type="text" class="form-control" th:id="idImpBrutoAnual" th:name="impBrutoAnual" th:field="*{impBrutoAnualWeb}" th:maxlength="10">
				</div>
  			</div>
 		 </div>
 		 <div class="col-1"></div>
 	 
 		</div>
 		<div class="row">
 			<div class="col-1"></div>
 			<div class="col-2"><a th:href="@{/gestionWeb/empleados/pagempleadosNue}" class="btn btn-primary" role="button">Volver</a></div>
 			<div class="col-5"></div>
 			<div class="col-3">	
 			    <button type="submit" class="btn btn-primary">Crear</button>
				<a th:id="'idLinkCrearUsu'" th:name="'linkCrearUsu'" class="btn btn-colour-1" role="button">Nuevo Usuario</a>			 
 			</div>
 			<div class="col-1"></div>
		</div>
 		</form>
 	</div>
	<!-- Modal -->
    <div id="myModalAltaUsu" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  		<div class="modal-dialog modal-xl">
      <!-- Modal content-->
      	<div class="modal-content">
			<h5 th:text="'Datos Nuevo Usuario'"></h5>
				<form action="#" th:action="@{/gestionWeb/usuarios/insertarusuario}" th:object="${usuarioWeb}" method="post">
					<div class="form-row">
						<div class="col-md-4 mb-3">
							<label for="validationFullNameWeb" th:text="'Nombre completo'"></label>
							 <input type="text" class="form-control" th:id="idfullNameWeb"
								th:field="*{fullNameWeb}" th:maxlength="25" required>
						</div>
						<div class="col-md-4 mb-3">
							<label for="validationUserNameWeb" th:text="'Nombre Usuario:' "></label>
							<input type="text" class="form-control" th:id="idApelliCliWeb"
								th:field="*{usernameWeb}" th:maxlength="25" required>
						</div>
						<div class="col-md-4 mb-3">
							<label for="validationPasswordWeb" th:text="'Password:' "></label>
							<input type="text" class="form-control" th:id="idPasswordWeb"
								th:field="*{passwordWeb}" th:maxlength="25" required>
						</div>
					</div>				
					<div class="form-row">
						<div class="col-md-4 mb-3">
							<label for="validationEmailWeb" th:text="'Email de aplicación:'"></label> <input
								type="text" class="form-control" th:id="idDirCliWeb"
								th:field="*{emailWeb}" th:maxlength="35" required>
						</div>

						<div class="col-md-3 mb-3">
						    <label for="validationFecAltaUsu">Fecha Alta Usuario</label>
							<div class="input-group">
								<div class="input-group-addon">
       							 <i class="fa fa-calendar"> </i> 
      					 		</div>
       							<input type="text" class="form-control" th:id="idFecAltaUsuario" name="fecAltaUsuario"  th:maxlength="10" th:readonly="true" required />
							</div>
						</div>
						<div class="col-md-5 mb-3">
							 <div class="form-group">
								<label for="idRolAplicacion" th:text="'Rol de usario en la aplicación: '"></label>
								<select th:object="${usuarioWeb}" class="form-control" name="rolAplicacion" id="idRolAplicacion">
									<option th:value="0" th:text="'Seleccionar rol Aplicación' "></option>
									<option th:each ="rolApli:${usuarioWeb.rolUsuarioWeb}"
   						 				th:value="${rolApli.id}"
  						  				th:text ="${rolApli.name}" >
  									</option>
    							</select>
							</div>
						</div>
					</div>					
        	<div class="modal-footer">
          		<button type="submit" class="btn btn-colour-1">Crear usuario</button>    
       			<button type="button" class="btn btn-colour-1" data-dismiss="modal">Cancelar</button>
        	</div>
        </form>	
     </div>
      
    </div>
  </div>
  
  <!-- Modal Cambiar Foto -->
  <div id="myModalCambiarFoto" class="modal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Añadir foto del empleado</h5>
      </div>
      <div class="modal-body">
    		<div class="container">	
               	 <form method="post" th:action="@{/gestionWeb/empleados/uploadimagenempleado}" enctype="multipart/form-data">
               	  <input type="hidden" th:id="'idIdEmpleado'" th:name="'idEmpleado'" th:value="${idEmpleadoNuevo}" /> 
               	    <p th:id="'idP1'"  th:text="'El tamaño de la foto no debe superar 65.535 bytes'"></p>
                 	 <div class="form-group">
                   	  <input type="file" name="file" class="form-control-file">
                  	 </div>
                  	 <button type="submit" class="btn btn-primary">Enviar Foto</button>
               	</form>
     	   </div>
      <div class="modal-footer">
        <button type="button" id="idSaltarPaso" class="btn btn-primary" data-dismiss="modal">Saltar Paso</button>
      </div>
    </div>
  </div>
</div>

 	<form th:id="idFormPaginacion" th:action="@{/gestionWeb/empleados/pagempleadosNue}"  method="post">
    </form>
</div>	

  <script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/locales/bootstrap-datepicker.es.min.js}" charset="UTF-8"></script>
 
  <script th:inline="javascript">
 	$(function () { 	
   	 $('#idFecAltaEmpleado').datepicker({
    	 format: "dd/mm/yyyy",
    	 language: 'es'
    	});
   	 
   	 $('#idFecAltaUsu').datepicker({
    	 format: "dd/mm/yyyy",
    	 language: 'es'
    	});
    });
 </script>

</body>
</html>