<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
  	<link href="../static/css/CustomBootstrap.css" th:href="@{/css/CustomBootstrap.css}" rel="stylesheet" />
 	
 	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>

  <style>  
   .form-control-xs {
    height: calc(1em + .375rem + 2px) !important;
    padding: .125rem .25rem !important;
    font-size: .75rem !important;
    line-height: 1.5;
    border-radius: .2rem;
	}
	
	h3 {
  		font-weight: bold !important;
  		color: #495057 !important;
  		font-size: 30px !important;
  		
  		border-bottom: 2px solid #000 !important;
 		background:#e9ecef !important;
  		color:#003B49 !important;

  		display:inline-block !important;
  		padding:8px 20px !important;
 		margin-left:10px !important;
		}
		
	h5 {
  		font-weight: bold !important;
  		color: #F2A900 !important;
  		font-size: 26px !important;
  		
 		background:#e9ecef !important;
  		color:#F2A900 !important;

  		display:inline-block !important;
  		padding:3px 15px !important;
 		margin-left:10px !important;
		}
  </style>
 
 
  <script th:inline="javascript">
	
 /*<![CDATA[*/
	var numElemenMenu = [[${#lists.size(subMenu.beanSubMenuAplicacionWeb)}]];
  
	var isErrorAlta = [[${errorAltaElemento}]];
	var noTieneElemSubmenus = [[${noTieneSubmenus}]];
	
 /*]]>*/
	
	 $(document).ready(function(){
		
		$("#idBotonNuevoEleSM").click(function(){
		 	$("#modalSubEleNue").modal();
		 });
		
		$("#idPantallaAyuda").click(function(){
			alert("Pinchado ayuda");
		 	$("#modalAyuda").modal();
		 });
		
		// Evento de boton Editar
		$('a[id^="idLinkEditarSM"]').click(function(event) {
			alert ("Salta el envento ___" + event.target.id );
			
			var lastChar = getNumber(event.target.id);
			alert("Paso 1, lastChar " + lastChar);
			
			if ($(this).text() == "editar")
			   {
				 $("a[id^='idLinkEditarSM']").hide(); 
				 
			 	 $("#idTextoSubMenu" + lastChar).prop("readonly", false);
			 	 $("#idHRefApliSubMenu" + lastChar).prop("readonly", false);
			 	 $("#idActivadoSubMenu" + lastChar).prop("disabled", false);
				//  $('#idLinkCancelarSM' + lastChar).css('visibility', 'visible');
				 $("#idLinkCancelarSM" + lastChar).show();
		
				 $(this).text('grabar');  
				 $(this).show();
				}  
		   	  else
				{
		   		 alert ("Antes de submitir formulario");
		   		 
				 $("#idIdSubMenuHidden").val($("#idSubMenuHidden" + lastChar).val());
				 $("#idNumOrdenSMHidden").val($("#idNumOrdSubMenu" + lastChar).val());
				 $("#idTextoMenuSMHidden").val($("#idTextoSubMenu" + lastChar).val()); 
				 $("#idHREFMenuSMHidden").val($("#idHRefApliSubMenu" + lastChar).val()); 
				 $("#idActivadoSMHidden").val($("#idActivadoSubMenu" + lastChar).val()); 
				 alert("Paso 5");
				 alert( document.getElementById("idIdSubMenuHidden").value ) ;
				 
			 // Falta el campo activado !!!!!
			 // Submitir formulario
				document.getElementById("idFormEditSubMenu").submit();
			}	
		});
		
		// Evento de boton cancelar la edicion de un elemento de menu
		// 
		$('a[id^="idLinkCancelarSM"]').click(function(event) 
		 {
		  $("a[id^='idLinkEditarSM']").show();

		  var lastChar4 = getNumber(event.target.id);
			
	 	  $("#idTextoMenu" + lastChar4).prop("readonly", true);
	 	  $("#idhRefAplicacion" + lastChar4).prop("readonly", true);
	 	  $("#idActivado" + lastChar4).prop("disabled", true);
	 	  $("#idLinkCancelarSM" + lastChar4).css("display", "none");
	 	  
		  $('#idLinkEditarSM' + lastChar4).text('editar');
		 });
		
		// Evento Editar numero de orden de menu
		$("#idEditNumOrden").click(function() {
			alert("Pinchar Editar num Orden");
			if ( $("#idEditNumOrden").text() == "editar")
			   {
				alert("Editar un numero de orden");
			    $("input[id^='idNumOrdSubMenu']").prop("readonly", false);
			    $("#idEditNumOrden").text('grabar');
			    
			    document.getElementById("idCancelNumOrden").style.display = "block";
			   }
			else
			  {
			   if (validarNumOrdenOK()) {
			   	   document.getElementById("idCancelNumOrden").style.display = "none";
			   	   alert("Submitimos")
			   	   document.getElementById("idFormElementosSubMenu").submit();	
			   }
			   
			  }
	 	});
			
		$("#idCancelNumOrden").click(function() {
			$("input[id^='idNumOrdSubMenu']").prop("readonly", true);
			$("#idEditNumOrden").text('editar');
				document.getElementById("idCancelNumOrden").style.display = "none";
		});
 
		if (isErrorAlta)
	       {
	  	 	console.log("cargar ventana emergente" + isErrorAlta);
	  	 	$('#myModalNue').modal('show');
	   		}
	   	  else
	       {
	  	  	console.log("NO CARGAR  ventana emergente");
	       }
	});
	 
	 function getNumber(objEvent)
	 { 
		 var numero = "";
		// var n = 1;
 		// var lastChar = objEvent.substr(objEvent.length - 1);
 		// numero = lastChar;
 		// alert("Antes del while. numero: "  + numero);
 		
 		cadena = event.target.id;
 		
		 while (true) 
		  {
			// var subCadena = event.target.id.substring(0, event.target.id.length - n);
		//	  alert("event.target.id.length " + event.target.id.length )
			  var lastBeforeChar = cadena.substr(cadena.length - 1,  cadena.length);
		//	  alert ("lastBeforeChar " + lastBeforeChar);
			  
			  if ( isNaN(lastBeforeChar.trim() ) )
			  	 {
		//		  alert("No es numero ya devolvemos el valor obtenido. numero " + numero);
				  return numero;
			  	 }  
			   else
			    {
			//	 alert("Es numero  lo concatenamos y seguimos");
			    // numero.concat(lastBeforeChar); 
			     numero = lastBeforeChar.trim() + numero;
			     cadena = cadena.substr(0, cadena.length - 1); 
			  //   alert("cadena: " + cadena);
			    }
		   }
	//	 alert("Termina metodo y el  numero es : " + numero);
	 }
	 
	 
	 function validarNumOrdenOK()
	 {
	  var numOrdVal;
	  var indNumOrden = 0;

	  for (indNumOrden = 0; indNumOrden <numElemenMenu; indNumOrden++) {
		  
		  numOrdVal = $("#idNumOrdSubMenu" + indNumOrden).val();
		  
		   if ( isNaN(numOrdVal)) {
			   	alert("Los números de orden deben ser numéricos");
			    return false;
		   }
		}
	  
	 // Valida que no haya numero de orden repetidos
	  var indNumOrdenB = 0;
	  for (indNumOrden = 0; indNumOrden < numElemenMenu; indNumOrden++)  
		  {
		    numOrdVal = $("#idNumOrdSubMenu" + indNumOrden).val();
			  
			  for (indNumOrdenB = 0; indNumOrdenB <= numElemenMenu; indNumOrdenB++) {
				  
				  if (indNumOrden != indNumOrdenB) {
				 	 if (numOrdVal == $("#idNumOrdSubMenu" + indNumOrdenB).val())
					  	{
				 		  alert("No puede haber números de orden repetidos");
				 		  return false;
					  	}
		  			}
			  }
		  
		  }
	  
	  // Valida que no falte ningún numero secuencialmente
	  var encuentraSecuencial = "N";
	  for (indNumOrden = 0; indNumOrden < numElemenMenu; indNumOrden++)  
	  	  {
		  	numOrdVal = $("#idNumOrdSubMenu" + indNumOrden).val().trim();
			encuentraSecuencial = "N";
		//    alert("recorremos el " + numOrdVal + "numElemenMenu: " + numElemenMenu);

		 	 for (indNumOrdenB = 1; indNumOrdenB <= numElemenMenu; indNumOrdenB++)
		 	    { 
			   // Encuentra el secuencial
			//      alert ("indNumOrdenB: " + indNumOrdenB + " numOrdVal : " + numOrdVal  );
		 		  if (indNumOrdenB == numOrdVal) 
		 		     {
		 		//	  alert("Encuentra el numero en la secuencia");
		 			  encuentraSecuencial = "S";
		 			  break;
		 		     }
		 	    }
	  	 }
	  
	  if (encuentraSecuencial != "S")
		 {
		  alert("Falta algún numero de orden desde el primero al ultimo que ha introducido");
		  return false;
		 }

	  // Valida que no falte ningún numero secuencialmente
	  var indNumCorrelativo = 1;
	  for (indNumOrden = 0; indNumOrden < numElemenMenu; indNumOrden++)  
	  	   {
		  	numOrdVal = $("#idNumOrdSubMenu" + indNumOrden).val().trim();

			// alert("numOrdVal: " + numOrdVal   + " indNumCorrelativo: " + indNumCorrelativo);
		 	if  (numOrdVal != indNumCorrelativo)
		 		{
		 	//	 alert("esta alterado el numero");
		 		 return true;
		 		}
		 	indNumCorrelativo ++; 	
	  	   }
	  alert("No ha cambiado ningún numero de orden");
	  return false;
	 }
	 
	</script>
</head>

<body>
   
  <div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
       
	<div class="container-fluid">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
   				<h5 th:text="'Elementos de  Submenú pertenecientes al menu principal: ' + ${elemenMenuPrincipal} "></h5>
			</div>
			<div class="col-1">	</div>	
		</div>	
		
		<form action="#" th:id="idFormElementosSubMenu" th:action="@{/gestionmenus/actualizarNumOrdenSubmenu}" th:object="${subMenu}" method="post">
		
		<div class="row" style="border-bottom: 2px solid #000">
			<div class="col-1"></div>
			<div class="col-10">
     			<table class="table table-sm">
					<thead class="thead-light">
						<tr>
							<th width="8%" th:text="'Id. submenú'"></th>
							<th width="12%" th:text="'N. Orden'"></th>
							<th width="20%" th:text="'Texto submenú'"></th>
							<th width="25%" th:text="'Dirección o Link (href) submenú'"></th>
							<th width="7%"  th:text="'Activado'"></th>
							<th width="7%"  th:text="'Acción'"></th>
							<th width="7%"  th:text="'Cancelar'"></th>
						</tr>
					</thead>
					<tbody>
					 <tr th:each="subMenuN1, iterStat: *{beanSubMenuAplicacionWeb}">
						<td th:text="${subMenuN1.idSubmenuNivel1}"></td>
						<td>
							<div class="form-group col-md-4">                                                                               
								<input type="text" class="form-control form-control-xs"  th:id="'idNumOrdSubMenu'+ ${iterStat.index}" th:field="*{beanSubMenuAplicacionWeb[__${iterStat.index}__].numOrdenMenu}"  th:maxlength="2" th:readonly="true"/>	
							<!-- <p class="alert alert-danger"  th:if="${#fields.hasErrors('${menuP[__${row.index}__].numOrdenMenu}')}" th:errors="${menuP.numOrdenMenu}">	 -->	    			 
							</div>
						</td>
						<td>
							<div class="form-group col-md-20">
								<input type="text" class="form-control form-control-xs"  th:id="'idTextoSubMenu'+ ${iterStat.index}" th:name="'textoSubMenu'+ ${iterStat.index}" th:field="*{beanSubMenuAplicacionWeb[__${iterStat.index}__].textoSubMenuN1}" th:maxlength="30" th:readonly="true"/>											
							</div>
						</td>
							<td> 
								<div class="form-group col-md-40" style="display: flex; justify-content: center; align-items: center;">
									<input type="text" class="form-control form-control-xs"  th:id="'idHRefApliSubMenu'+ ${iterStat.index}" th:name="'hRefApliSubMenu'+ ${iterStat.index}" th:field="*{beanSubMenuAplicacionWeb[__${iterStat.index}__].hrefAplicacionN1}" th:maxlength="50" th:readonly="true"/>											
							    </div>
							</td>
							<td>
								<input type="checkbox" th:id="'idActivadoSubMenu'+ ${iterStat.index}" th:name="'activadoSubMenu'+ ${iterStat.index}" th:checked= "*{beanSubMenuAplicacionWeb[__${iterStat.index}__].activo}" class="btn btn-primary btn-sm" th:disabled="disabled"/>						
								<input type="hidden" th:id="'idSubMenuHidden'+ ${iterStat.index}" th:name="'subMenuHidden'+ ${iterStat.index}" th:field="*{beanSubMenuAplicacionWeb[__${iterStat.index}__].idSubmenuNivel1}"/>
							</td>
		
							<td>
								<a th:id="'idLinkEditarSM' + ${iterStat.index}" th:name="'linkEditarSM' + ${iterStat.index}" class="btn btn-primary btn-sm" role="button" th:onclick="'gestionEleSubMenu(' + ${subMenuN1.idSubmenuNivel1} + ')' ">editar</a>
							</td>
							
							<td>
								<a th:id="'idLinkCancelarSM' + ${iterStat.index}" th:name="'linkCancelarSM' + ${iterStat.index}" class="btn btn-primary btn-sm" role="button" th:onclick="'cancelarEleSubMenu(' + ${subMenuN1.idSubmenuNivel1} + ')' "  style="display:none;" >cancelar</a>	
							</td>												
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="#" th:id="idEditNumOrden" th:name="editNumOrden" class="btn btn-colour-1" role="button"  aria-disabled="true">editar</a>
								<a href="#" th:id="idCancelNumOrden" th:name="editCancelNumOrden" class="btn btn-colour-1" role="button"  aria-disabled="true" style="display:none;">Cancelar</a>
							</td>	
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				 </table>
				</div>
				<div class="col-1"></div>
			  </div>
			  
			</form>
			
			<div class="row">
				<div class="col-1"></div>	
				<div class="col-10">
				 	<a th:href="@{/gestionmenus/obtenermenuprincipal}" class="btn btn-primary" role="button">volver menus</a>
					 
					<a th:id="idPantallaAyuda" th:name="botonNuevoEleSM" class="btn btn-primary btn-sm" role="button">Ayuda pantalla</a>
					<a th:id="idBotonNuevoEleSM" th:name="botonNuevoEleSM" class="btn btn-primary btn-sm" role="button">Nuevo elemento</a>	
				 </div>	
				 <div class="col-1"></div>	
			</div>
		</div>
			
		<form th:id="idFormEditSubMenu" th:action="@{/gestionmenus/updateelementosubmenu}" th:object="${elemenEditSubMenuApli}" method="post">
			<input type="hidden" th:id="'idMenuHidden'" 		th:name="'idMenuHidden'" 	 	th:field="*{idMenu}" />	
		 	<input type="hidden" th:id="'idIdSubMenuHidden'" 	th:name="'idSubMenuHidden'"   	th:field="*{idSubMenuN1}" />	
		 	<input type="hidden" th:id="'idNumOrdenSMHidden'" 	th:name="'idNumOrdenSMHidden'"  th:field="*{numOrdenSubMenu}" />	
		 	<input type="hidden" th:id="'idTextoMenuSMHidden'" 	th:name="'textoMenuSMHidden'" 	th:field="*{textoMenuSubMenu}" />		
		 	<input type="hidden" th:id="'idHREFMenuSMHidden'" 	th:name="'hREFMenuSMHidden'" 	th:field="*{hrefAplicacionSubMenu}" />	
		 	<input type="hidden" th:id="'idActivadoSMHidden'" 	th:name="'activadoSMHidden'" 	th:field="*{indActivoSubMenu}" />												
		 </form> 
			
		 <div id="modalSubEleNue" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  			<div class="modal-dialog modal-xl">
      	<!-- Modal content-->
      		<div class="modal-content">
      		<form action="#" th:action="@{'/gestionmenus/insertelementosubmenu'}" method="post" th:object="${elemenSubMenuNuevoWeb}">
      		 <div class="container-fluid">
       			 <br/>
				<h5 th:text="'Nuevo elemento de submenú'"></h5>
				<table class="table table-sm">
					<thead class="thead-light">
					<tr>
						<th width="15%" th:text="'Número Orden'"></th>
						<th width="40%" th:text="'Texto elemento del submenú'"></th>
						<th width="35%" th:text="'Dirección o Link (href)'"></th>
						<th width="10%" th:text="'Activado'"></th>
					</tr>
					</thead>
					<tbody>
						<tr th:each="elemenSumMenuNuevo:${elemenSubMenuNuevoWeb}">
					 		<td>
								<input type="text" class="form-control form-control-sm"  th:id="idNumOrdSubMenuN" th:name="mumOrdMenuN" th:field="*{numOrdenSubMenu}" th:maxlength="2" th:readonly="true"/>
								<input type="hidden" th:id="'idMenuNHidden'" 	th:name="'menuNHidden'" 	th:field="*{idMenu}" />			
							</td>
							<td>
								<input type="text" class="form-control form-control-sm"  th:id="idTextoSubMenuN" th:name="textoSubMenuN" th:field="*{textoMenuSubMenu}" th:maxlength="30"/>											
							</td>
							<td>
								<input type="text" class="form-control form-control-sm"  th:id="idhRefAplicacionSMN" th:name="hrefAplicacionN" th:field="*{hrefAplicacionSubMenu}" th:maxlength="35"/>
							</td>
							<td>
								<input type="checkbox" th:checked="*{indActivoSubMenu}" class="form-control form-control-sm" th:id="idActivadoSMN" th:name="activadoN" th:field="*{indActivoSubMenu}" />											
							</td>		
			  	 		</tr>
				</tbody>
		 	</table>
			</div>
		   	
			<div class="modal-footer">
			    <button type="submit" class="btn btn-primary">Crear submenu</button>
       		 	<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>	
        	</div>
			</form>
		</div>	
		</div>
	</div>

<!-- Modal -->
<div class="modal fade" id="modalAyuda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="modal-body">
        <p>. Para ordenar los sumenus se necesita</p>
        <p>. Para editar los submenus ....</p>
        <p>. 1 Para ordenar los sumenus se necesita</p>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>


</html>