<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
 	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
 	<link th:rel="stylesheet" th:href="@{/css/CustomBootstrap.css}" />
 	
 	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>

	<style> 
	
	.form-control-xs {
   		height: calc(1em + .375rem + 2px) !important;
    	padding: .125rem .25rem !important;
    	font-size: .75rem !important;
    	line-height: 1.5;
    	border-radius: .2rem;
		}
		
	#container {
  	position: relative;
	}
	
  .div-desactivado{
  	color: #DEBC8B;
  	background-color: #ABC7C9;
  	border-color: #004E64;
  	font: 15px Arial, sans-serif;
 	letter-spacing: 0.05em;
  	border-radius: 0;
	}
  </style>

  <script th:inline="javascript">
  
  /*<![CDATA[*/
	var numElemenMenu = [[${#lists.size(menuPrincipal.beanMenuAplicacionWeb)}]];
	var isErrorAlta = [[${errorAltaElemento}]];
 /*]]>*/
	
	 $(document).ready(function(){

		 $('[name="checksActivado[]"]').on('change', function() {

			if (this.checked) {
				//indCheck = $('[name="checksActivado[]"]').index(this);
				$("#idActivadoH").val(true);
				 } 
				else
				{
				$("#idActivadoH").val(false);
				}
			});

		$("#idBotonNuevoEle").click(function(){
		   $("#myModal").modal();
		 });
		
		// Evento de boton Editar
		$('a[id^="idLinkEdit"]').click(function(event) {
			
			var lastChar = getNumber(event.target.id);
			
			if ($(this).text() == "editar") {
				
				$("a[id^='idLinkEdit']").hide(); 
				$("a[id^='idLinkSubMenu']").hide();
				$("a[id^='idLinkBaja']").hide();
				
			 	$("#idTextoMenu" + lastChar).prop("readonly", false);
			 	$("#idhRefAplicacion" + lastChar).prop("readonly", false);
			 	$("#idActivado" + lastChar).prop("disabled", false);
			 	
			 //	$("#idLinkCancelar" + lastChar).css("display", "block");
			    $("#idLinkCancelar" + lastChar).show();
				   
				$(this).text('grabar');  
				$(this).show();
				}  
		   	  else
				{
		   	 // Guardar elemento menu modificado
		   		
				$("#idIdMenuHidden").val($("#idMenuHidden" + lastChar).val()) ;
				$("#idNumOrdenHidden").val($("#idNumOrdMenu" + lastChar ).val()) ;  
				$("#idTextoMenuHiden").val($("#idTextoMenu" + lastChar).val()); 
				$("#idHREFMenuHidden").val($("#idhRefAplicacion" + lastChar).val()); 
				$("#idIndActivoHidden").val($("#idActivado" + lastChar).val()); 
			
			 // Submitir formulario
				document.getElementById("idFormEditMenu").submit();
			}	
		});
		
		// Evento de boton cancelar la edicion de un elemento de menu 
		$('a[id^="idLinkCancelar"]').click(function(event) 
		 {
		  $("a[id^='idLinkEdit']").show();
		  $("a[id^='idLinkSubMenu']").show();
		  $("a[id^='idLinkBaja']").show();

		  var lastChar4 = getNumber(event.target.id);
			
	 	  $("#idTextoMenu" + lastChar4).prop("readonly", true);
	 	  $("#idhRefAplicacion" + lastChar4).prop("readonly", true);
	 	  $("#idActivado" + lastChar4).prop("disabled", true);
	 	
	 	  $("#idLinkCancelar" + lastChar4).css("display", "none");
		  $('#idLinkEdit' + lastChar4).text('editar');
		 });
		
		$('a[id^="idLinkBaja"]').click(function(event) {
		   var lastChar5 = getNumber(event.target.id);
		   $("#idIdMenu").val( $("#idMenuHidden" + lastChar5).val() );
		   $("#myModalEliminarMenu").modal();
		 });
		
		// Evento Editar número de orden de menu
		$("#idEditNumOrden").click(function() {
			if ( $("#idEditNumOrden").text() == "editar")
			   {
			    $("input[id^='idNumOrdMenu']").prop("readonly", false);
			    $("#idEditNumOrden").text('grabar');
			    
			    document.getElementById("idCancelNumOrden").style.display = "block";
			   }
			else
			  {
			   if (validarNumOrdenOK())
			   	  {
				   document.getElementById("idCancelNumOrden").style.display = "none";   
				   document.getElementById("idFormElementosMenu").submit();	
			   	  }
			   
			  }
	 	});
			
		$("#idCancelNumOrden").click(function() {
			$("input[id^='idNumOrdMenu']").prop("readonly", true);
			$("#idEditNumOrden").text('editar');
			  document.getElementById("idCancelNumOrden").style.display = "none";
		});
 
		if (isErrorAlta)
	       {
	  	 	console.log("Cargar ventana Emergente" + isErrorAlta);
	  	 	$('#myModal').modal('show');
	   		}
	   	  else
	       {
	  	  	console.log("NO CARGAR ventana emergente");
	       }
	});
	 
	 function getNumber(objEvent)
	 { 
	   var numero = "";		
	   cadena = event.target.id;
	 		
		while (true) 
		{
		 var lastBeforeChar = cadena.substr(cadena.length - 1,  cadena.length);
		
	     if ( isNaN(lastBeforeChar.trim() ) )
			{
			return numero;
			 }  
			else
			{
			numero = lastBeforeChar.trim() + numero;
			cadena = cadena.substr(0, cadena.length - 1); 
			}
		  }
	 }
	  
	 function validarNumOrdenOK()
	 {
	  var numOrdVal;
	  var indNumOrden = 0;

	  for (indNumOrden = 0; indNumOrden <numElemenMenu; indNumOrden++) {
		  
		  numOrdVal = $("#idNumOrdMenu" + indNumOrden).val();
		  
		   if ( isNaN(numOrdVal)) {
			   	alert("Los números de orden deben ser numéricos");
			    return false;
		   }
		}
	  
	 // Valida que no haya numero de orden repetidos
	  var indNumOrdenB = 0;
	  for (indNumOrden = 0; indNumOrden < numElemenMenu; indNumOrden++)  
		  {
		    numOrdVal = $("#idNumOrdMenu" + indNumOrden).val();
			  
			  for (indNumOrdenB = 0; indNumOrdenB <= numElemenMenu; indNumOrdenB++) {
				  
				  if (indNumOrden != indNumOrdenB) {
				 	 if (numOrdVal == $("#idNumOrdMenu" + indNumOrdenB).val())
					  	{
				 		  alert("No puede haber números de orden repetidos");
				 		  return false;
					  	}
		  			}
			  }
		  }
	  
	  // Valida que no falte ningún numero secuencialmente
	  var encuentraSecuencial = "N";
	  for (indNumOrden = 0; indNumOrden < numElemenMenu; indNumOrden++)  
	  	  {
		  	numOrdVal = $("#idNumOrdMenu" + indNumOrden).val().trim();
			encuentraSecuencial = "N";
		    alert("recorremos el " + numOrdVal + "numElemenMenu: " + numElemenMenu);

		 	 for (indNumOrdenB = 1; indNumOrdenB <= numElemenMenu; indNumOrdenB++)
		 	    { 
			   // Encuentra el secuencial
			      alert ("indNumOrdenB: " + indNumOrdenB + " numOrdVal : " + numOrdVal  );
		 		  if (indNumOrdenB == numOrdVal) 
		 		     {
		 			  alert("Encuentra el numero en la secuencia");
		 			  encuentraSecuencial = "S";
		 			  break;
		 		     }
		 	    }
	  	 }
	  
	  if (encuentraSecuencial != "S")
		 {
		  alert("Falta algún numero de orden desde el primero al ultimo que ha introducido");
		  return false;
		 }

	  // Valida que no falte ningún numero secuencialmente
	  var indNumCorrelativo = 1;
	  for (indNumOrden = 0; indNumOrden < numElemenMenu; indNumOrden++)  
	  	   {
		  	numOrdVal = $("#idNumOrdMenu" + indNumOrden).val().trim();

			alert("numOrdVal: " + numOrdVal   + " indNumCorrelativo: " + indNumCorrelativo);
		 	if  (numOrdVal != indNumCorrelativo)
		 		{
		 		 alert("Esta alterado el numero");
		 		 return true;
		 		}
		 	indNumCorrelativo ++; 	
	  	   }
	  alert("No ha sido cambiado ningún numero de orden");
	  return false;
	 }
	 
	</script>
	
</head>

 <body>

	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="titulo-pag2" th:text="'Gestion Menus'"></div>  
		</div>
		
		<div class="alert alert-danger"  th:if="${errorValidacion}" th:text="${mensajeError}"></div>
		 
		<div class="row">
			<div class="col-1"> </div>
			<div class="col-10">
   				<div class="subtitulo-pag2" th:text="'Elementos Menu principal'"></div>
			</div>	
			<div class="col-1"> </div>		
		</div>

		<form action="#" th:id="idFormElementosMenu" th:action="@{/gestionmenus/actualizarNumOrden}" th:object="${menuPrincipal}" method="post">
		
		  <div class="row" >
			<div class="col-1"> </div>
			<div class="col-10" style="border-bottom: 2px solid #000">
     		<table class="table table-sm">
				<thead class="thead-light">
					<tr>
						<th width="7%"  th:text="'Id. Menu'"></th>
						<th width="7%"  th:text="'N. Orden'"></th>
						<th width="28%" th:text="'Texto menú'"></th>
						<th width="25%" th:text="'Dirección o Link (href)'"></th>
						<th width="5%"  th:text="'Activado'"></th>
						<th width="7%"  th:text="'Acciones'"></th>
						<th width="7%"  th:text="''"></th>	
						<th width="7%"  th:text="''"></th>
						<th width="7%"  th:text="'Ir'"></th>
					</tr>
				</thead>
				<tbody>      
					 <tr th:each="mPrincipal, iterStat: *{beanMenuAplicacionWeb}">
						<td th:classappend="${mPrincipal.activo}? div-desactivado" th:text="${mPrincipal.idMenu}"></td>
						<td th:classappend="${mPrincipal.activo}? div-desactivado">
							<div class="form-group"> 
								<input type="text" class="form-control form-control-xs"  th:id="'idNumOrdMenu'+ ${iterStat.index}" th:name="'mumOrdMenu'+ ${iterStat.index}" th:field="*{beanMenuAplicacionWeb[__${iterStat.index}__].numOrdenMenu}" th:maxlength="2" th:readonly="true" required/>				 
							</div>
						</td>

						<td th:classappend="${mPrincipal.activo}? div-desactivado">
							<div class="form-group">
								<input type="text" class="form-control form-control-xs"  th:id="'idTextoMenu'+ ${iterStat.index}" th:name="'textoMenu'+ ${iterStat.index}" th:field="*{beanMenuAplicacionWeb[__${iterStat.index}__].textoMenu}" th:maxlength="30" th:readonly="true" required/>											
							</div>
						</td>
						
						<td th:classappend="${mPrincipal.activo}? div-desactivado">
							<div class="form-group">
								<input type="text" class="form-control form-control-xs"  th:id="'idhRefAplicacion'+ ${iterStat.index}" th:name="'hrefAplicacion'+ ${iterStat.index}" th:field="*{beanMenuAplicacionWeb[__${iterStat.index}__].hrefAplicacion}" th:maxlength="45" th:readonly="true"/>											
							 </div>
						</td>
						
						 <td th:classappend="${mPrincipal.activo}? div-desactivado" style="display: flex; justify-content: center; align-items: center;">
							<input type="checkbox" th:checked="*{beanMenuAplicacionWeb[__${iterStat.index}__].activo}" th:id="'idActivado'+ ${iterStat.index}" th:name="checksActivado[]" th:disabled="disabled" />											
						 </td>
		
						<td><a th:id="'idLinkEdit' + ${iterStat.index}"     th:name="'linkEdit' + ${iterStat.index}"     class="btn btn-colour-1" role="button" th:disabled="false">editar</a></td>		
						<td><a th:id="'idLinkCancelar' + ${iterStat.index}" th:name="'linkCancelar' + ${iterStat.index}" class="btn btn-colour-1" role="button" th:onclick="'cancelarEditarEleMenu(' + ${mPrincipal.idMenu} + ')' " style="display:none;">Cancelar</a></td>
						<td><a th:id="'idLinkBaja'+ ${iterStat.index}"      th:name="'linkBaja'+ ${iterStat.index}"      class="btn btn-colour-1" role="button" style="visibility:visible">baja</a></td>		
						<td>	
							<a th:id="'idLinkSubMenu' + ${iterStat.index}"  th:name="'linkSubMenu'+ ${iterStat.index}"  class="btn btn-colour-1"  role="button" th:href="@{'/gestionmenus/obtenersubmenu?idMenu=' + ${mPrincipal.idMenu} + '&nomElemMenu=' + ${mPrincipal.textoMenu}}" style="visibility:visible">submenu</a>
							<input type="hidden" th:id="'idMenuHidden'+ ${iterStat.index}" th:name="'menuHidden'+ ${iterStat.index}" th:field="*{beanMenuAplicacionWeb[__${iterStat.index}__].idMenu}" />
						</td>																				 											
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="#" th:id="idEditNumOrden" th:name="editNumOrden" class="btn btn-colour-1" role="button"  aria-disabled="true">editar</a>
								<a href="#" th:id="idCancelNumOrden" th:name="editCancelNumOrden" class="btn btn-colour-1" role="button"  aria-disabled="true" style="display:none;">Cancelar</a>
							</td>	
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				 </table>
				</div>
				<div class="col-1"> </div>
			  
			</div>
		 </form>
			<div class="row">
				<div class="col-1">	</div>
				<div class="col-1"> </div>
				<div class="col-8"> </div>
				<div class="col-1"><a th:id="idBotonNuevoEle" th:name="botonNuevoEle"  class="btn btn-colour-1"  role="button">Nuevo elemento</a> </div> 
				<div class="col-1"></div> 
			 </div>
		 
		 </div>
		 
		 <form th:id="idFormEditMenu" th:action="@{/gestionmenus/updateelementomenu}" 	 th:object="${elemenEditMenuApli}" method="post">
		 	<input type="hidden" th:id="'idIdMenuHidden'" 	 th:name="'idMenuHidden'" 	 th:field="*{idMenu}" />	
		 	<input type="hidden" th:id="'idNumOrdenHidden'"  th:name="'numOrdenHidden'"  th:field="*{numOrdenMenu}" />	
		 	<input type="hidden" th:id="'idTextoMenuHiden'"  th:name="'textoMenu'" 		 th:field="*{textoMenu}" />		
		 	<input type="hidden" th:id="'idHREFMenuHidden'"  th:name="'hREFMenu'" 		 th:field="*{hrefAplicacion}" />
		 	<input type="hidden" th:id="'idIndActivoHidden'" th:name="'indActivo'" 		 th:field="*{indActivo}" />		
		 	  <input type="hidden" th:id="'idActivadoH'" th:name="'activadoH'" th:value="false"/>									
		 </form>
		 
		 
		  <!-- Modal -->
		  <div id="myModal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  			<div class="modal-dialog modal-xl">
      	<!-- Modal content-->
      		<div class="modal-content">
      		<form action="#" th:action="@{'/gestionmenus/insertelementomenu'}" method="post" th:object="${elemenMenuNuevoWeb}">
      		 <div class="container-fluid">
       			 <br/>
				<div class="subtitulo-pag2" th:text="'Nuevo elemento menú'"></div>
				<table class="table table-sm">
					<thead class="thead-light">
					<tr>
						<th width="15%" th:text="'Número Orden'"></th>
						<th width="40%" th:text="'Texto elemento del menú'"></th>
						<th width="35%" th:text="'Dirección o Link (href)'"></th>
						<th width="10%" th:text="'Activado'"></th>
					</tr>
					</thead>
					<tbody>
						<tr th:each="elemenSumMenuNuevo:${elemenMenuNuevoWeb}">
					 		<td>
								<input type="text" class="form-control form-control-sm"  th:id="idNumOrdMenuN" th:name="numOrdMenuN" th:field="*{numOrdenMenu}" th:maxlength="2" th:readonly="true"/>
								<input type="hidden" th:id="'idMenuNHidden'"  th:name="'menuNHidden'" th:field="*{idMenu}" />			
							</td>
							<td>
								<input type="text" class="form-control form-control-sm"  th:id="idTextoMenuN" th:name="textoMenuN" th:field="*{textoMenu}" placeholder="Teclee el texto del elemento de menú" th:maxlength="30" required/>											
							</td>
							<td>
								<input type="text" class="form-control form-control-sm"  th:id="idhRefAplicacionN" th:name="hRefAplicacionN" th:field="*{hrefAplicacion}" th:maxlength="35"/>
							</td>
							<td>
								<input type="checkbox" th:checked="*{indActivo}" class="form-control form-control-sm" th:id="idActivadoN" th:name="activadoN" th:field="*{indActivo}" />											
							</td>		
			  	 		</tr>
				</tbody>
		 	</table>
			</div>
		   	
			<div class="modal-footer">
			    <button type="submit" class="btn btn-primary btn-sm">Crear menu</button>
       		 	<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancelar</button>	
        	</div>
			</form>
		</div>	
		</div>
	</div>
  
  <!-- Modal Eliminar Menu -->
  <div id="myModalEliminarMenu" class="modal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="subtitulo-pag-ayuda" th:text="'Eliminar el elemento de menú'"></div>
      </div>
      <div class="modal-body">
        <form action="#" th:id="idFormEliminarMenu" method="post" th:action="@{/gestionmenus/eliminarmenu}">
            <input type="hidden" th:id="'idIdMenu'" th:name="'idMenu'" th:value="${idMenu}" /> 
    		<div class="container">
                <p th:id="'idP1'" th:text="'El elemento de menu se eliminará, si no está asignado a ningun menú de un usuario.'"></p>
     	    </div>
      		<div class="modal-footer">
       	 		<button type="submit" id="idConfirmar" class="btn btn-primary btn-sm">Confirmar</button>
       	 		<button type="button" id="idCancelar"  class="btn btn-primary btn-sm" data-dismiss="modal">Cancelar</button>
      		</div>
       </form>
    </div>
   </div>
  </div>
 </div>
	
</body>
</html>