<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>

  	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} " />
  	<link href="../static/css/CustomBootstrap.css" th:href="@{/css/CustomBootstrap.css}" rel="stylesheet" />
  	
 	 <style>  
  	 .form-control-xs {
   	 	height: calc(1em + .375rem + 2px) !important;
    	padding: .125rem .25rem !important;
    	font-size: .75rem !important;
    	line-height: 1.5;
    	border-radius: .2rem;
		}
	
	h3 {
  		font-weight: bold !important;
  		color: #495057 !important;
  		font-size: 30px !important;
  		
  		border-bottom: 2px solid #000 !important;
 		background:#e9ecef !important;
  		color:#003B49 !important;

  		display:inline-block !important;
  		padding:8px 20px !important;
 		margin-left:10px !important;
		}
		
	h5 {
  		color: #F2A900 !important;
  		font-size: 26px !important;
  		
 		background:#e9ecef !important;
  		color:#F2A900 !important;

  		display:inline-block !important;
  		padding:3px 15px !important;
 		margin-left:10px !important;
		}

  </style>
  
  	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  
	<script th:inline="javascript">
	
	/*<![CDATA[*/
		var idUsuarioParam = [[${idUsuarioApli}]];
	/*]]>*/
	
	 var arrValueCheck = null;
	 var arrValueCheckASupr  = null;
	 var idMenuSelec = "";

		$(document).ready(function() {

			  $('[name="checks[]"]').click(function() {
			      arrValueCheck = $('[name="checks[]"]:checked').map(function(){
			      return this.value;
			    }).get();
			     
			  // var str = arrValueCheck.join(',');
			  //  $('#arr').text(JSON.stringify(arr));
			  //  $('#str').text(str);
			  });
			  
			  $('[name="checksMenuUsu[]"]').click(function() {
				  arrValueCheckASupr = $('[name="checksMenuUsu[]"]:checked').map(function(){
			      return this.value;
			    }).get();
			  
			  });
			 
			 $("#idLinkAnadirTodos").click(function() {
				 alert("boton idLinkAnadirTodos");
				 
				 $("input[id^='idCheckActivado']").prop("checked", true);
				 
				 document.getElementById("idP3").style.display = "block";
				 $("#myModalConfirm").modal();
				 
			  });
			 
			 $("#idLinkConfirmar").click(function() {
				    alert("boton confirmar");
				  });

			});
		
		function anadirElemenMenuUsuario()
	  	 {
			if (arrValueCheck == null)
				{
				 alert("Debe seleccionar al menos un elemento a añadir"); 
				 return;
				}
			 else
			  {
				if (arrValueCheck.length == 0)
					{
					 alert("Debe seleccionar al menos un elemento a añadir");
					 return;
					}
				else
					{
					 document.getElementById("idP1").style.display = "block";
				 
					 $("#myModalConfirm").modal();
					}
				
			    // else
				//   {
				//	for (var i=0; i<arrValueCheck.length; i++)
				//	 {
				//	  idMenuSelec = arrValueCheck[i];
				//	  alert("seleccionados : " + arrValueCheck[i]);
			   	 //    }
				//   }
			  }
	  	 }
		
		function eliminarElemenMenuUsuario()
	  	 {
			if (arrValueCheckASupr == null)
				{
				 alert("Debe seleccionar al menos un elemento a suprimir"); 
				}
			 else
			  {
				if (arrValueCheckASupr.length == 0)
					{
					 alert("Debe seleccionar al menos un elemento a suprimir");
					}
				else
					{
					 document.getElementById("idP2").style.display = "block";
					$("#myModalConfirm").modal();
					}
				//  else
				  // {
			    	 //	for (var i=0; i<arrValueCheckASupr.length; i++)
					// {
				//		idMenuSelecSuprimir = arrValueCheckASupr[i];
			   	 //    }
			    	 //  }
			    	 // }
	  			}
		}
		
		function confirmarMenuUsuario()
	  	 {
		 // Submitir formulario
			document.getElementById("idFormMenuUsuario").submit();
	  	 }
	</script>

  </head>

  <body>
  
	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	
	<div class="container-fluid">

		<div class="row">
 			<div class="col-12"><h3 th:text="'Gestión de menus para el usuario: ' + ${nomUsuario}"></h3></div>
		</div>
		
		<div class="row" style="border-bottom: 2px solid #000">
		<div class="col-1"> </div>
		 
		<form th:id="idFormMenuUsuario" th:action="@{/gestionmenus/updateelementosmenuusuario}" th:object="${beanCamposGesMenuUsu}" method="post">
			<input type="hidden" th:id="'idAccionHidden'" th:name="'idAccionHidden'"   th:field="*{idAccion}" />
		 	<input type="hidden" th:id="'idMenuHidden1'"  th:name="'idIdMenuHidden1'"  th:field="*{idMenu1}" />
		 	<input type="hidden" th:id="'idMenuHidden2'"  th:name="'idIdMenuHidden2'"  th:field="*{idMenu2}" />
		 	<input type="hidden" th:id="'idMenuHidden3'"  th:name="'idIdMenuHidden3'"  th:field="*{idMenu3}" />	
		 	<input type="hidden" th:id="'idMenuHidden4'"  th:name="'idIdMenuHidden4'"  th:field="*{idMenu4}" />	
		 	<input type="hidden" th:id="'idMenuHidden5'"  th:name="'idIdMenuHidden5'"  th:field="*{idMenu5}" />	
		 	<input type="hidden" th:id="'idMenuHidden6'"  th:name="'idIdMenuHidden6'"  th:field="*{idMenu6}" />	
		 	<input type="hidden" th:id="'idMenuHidden7'"  th:name="'idIdMenuHidden7'"  th:field="*{idMenu7}" />	
		 	<input type="hidden" th:id="'idMenuHidden8'"  th:name="'idIdMenuHidden8'"  th:field="*{idMenu8}" />	
		 	<input type="hidden" th:id="'idMenuHidden9'"  th:name="'idIdMenuHidden9'"  th:field="*{idMenu9}" />						
		 </form> 

  			<div class="col-5">
  				<h5 th:text="'Opciones de menu activos para el usuario'"></h5>
  				<div id="idDivSubMenu1Usu">
					<div th:insert="gestionMenus/fragments/MenusSelecUsuario :: menuselecusuario"></div>
				</div>	
			</div>
 			<div class="col-1" style="text-align: center">
 				<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
 					<br/>
 					<br/>
				 	<a th:id="'idLinkAnadir'"      th:name="'linkAnadir'"  th:onclick="th:anadirElemenMenuUsuario()" class="btn btn-primary btn-sm" role="button"> &#8678; Añadir</a>
					<br/>
					<a th:id="'idLinkSuprimir'"    th:name="'linkSuprimir'" th:onclick="th:eliminarElemenMenuUsuario()" class="btn btn-colour-1" role="button">Suprimir &#8680;</a>
					<br/>
					<a th:id="'idLinkAnadirTodos'" th:name="'linkAnadirTodos'"    class="btn btn-colour-1" role="button">&#8920; Añadir todos</a>
				</div> 
 			</div>
 			<div class="col-4">
 				<h5 th:text="'Opciones del menu principal disponibles'"></h5>
 				<div th:insert="gestionMenus/fragments/MenusAplicaDispUsuario :: menuapliselecusuario"></div>
 			</div>
 		 
 			<div class="col-1"> </div>
		</div>
		
		<a th:id="'idLinkVolver'"    th:name="'linkVolver'"    class="btn btn-colour-1" role="button">Volver</a>
 
      	<div id="idDivSubMenu1Usu" style="visibility:visible; width:100%"> </div>
	</div>
	
  <!-- Modal Confirmacion -->
  <div id="myModalConfirm" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmación elementos menu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<p th:id="'idP1'" style="display:none;"> ¿Confirmar que quiere añadir los elementos de menu seleccionados a menu este usuario?.</p>
      	<p th:id="'idP2'" style="display:none;"> ¿Confirmar que quiere suprimir los elementos de menu seleccionados a menu este usuario?.</p>
      	<p th:id="'idP3'" style="display:none;"> ¿Confirmar que quiere añadir todos los elementos de menu a menu este usuario?.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        <button type="button" th:onclick="th:confirmarMenuUsuario()" class="btn btn-primary">Confirmar</button>
      </div>
    </div>
  </div>
</div>
	
	
  </body>
</html>
