<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>

	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
 	<link th:rel="stylesheet" th:href="@{/css/CustomBootstrap.css}" />
 	
 	 <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
 	 <script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	

	<script th:inline="javascript">
		
		var arrValueCheck = null;
		var arrValueCheckASupr  = null;
	 	var idMenuSelec = "";
	 	
	 	var indCheck = 0;
		var arrIdSubMenu = [null,null,null,null,null,null,null,null,null];

		$(document).ready(function() {
			 $('[name="checks[]"]').click(function() {
			     arrValueCheck = $('[name="checks[]"]:checked').map(function(){
			     return this.value;
			 }).get();
			      
			 if (arrValueCheck.length > 9)
			    {
			    alert("Se pueden elegir hasta 9 elementos de menu para añadir o suprimir");
			    }
			     
			  // var str = arrValueCheck.join(',');
			  //  $('#arr').text(JSON.stringify(arr));
			  //  $('#str').text(str);
			  });
			 
			 
			 $('[name="checks[]"]').on('change', function() {
				if (this.checked) {
					indCheck = $('[name="checks[]"]').index(this);
				//	alert("ÇÇÇÇÇÇ  " +   $("#idCheckActivado" + indCheck).val() );
					arrIdSubMenu[indCheck] = $("#idCheckActivado" + indCheck).val();
					// alert (arrIdSubMenu[indCheck] );
					} 
				else
					{
					arrIdSubMenu[indCheck] = null;
				}
				});
			  
			  $('[name="checksSubMenuUsu[]"]').click(function() {
				  arrValueCheckASupr = $('[name="checksSubMenuUsu[]"]:checked').map(function(){
			      return this.value;
			    }).get();
	
				if (arrValueCheckASupr.length > 9)
			       {
			       alert("Se pueden elegir hasta 9 elementos de menu para añadir o suprimir");
			       }
			  });
			  
			  
			  $('[name="checksSubMenuUsu[]"]').on('change', function() {
					if (this.checked) {
						indCheck = $('[name="checksSubMenuUsu[]"]').index(this);
						arrIdSubMenu[indCheck] = $("#idSubMenuHidden" + indCheck).val();
						// alert (arrIdSubMenu[indCheck] );
					 } 
					else
					 {
					 arrIdSubMenu[indCheck] = null;
					 }
				});
			 
			 $("#idLinkAnadirTodos").click(function() {
				$("input[id^='idCheckActivado']").prop("checked", true);
				document.getElementById("idP3").style.display = "block";	
				$("#idAccionHidden").val("anadirtodos");
				$("#myModalConfirm").modal();
			  });
			 
			 $("#idLinkConfirmar").click(function() {
				 //   alert("boton confirmar");
				  });

			});
		
		function anadirElemenSubMenuUsu()
	  	 {
			if (arrValueCheck == null)
				{
				 alert("Debe seleccionar al menos un elemento a añadir"); 
				 return;
				}
			 else
			  {
				if (arrValueCheck.length == 0)
					{
					 alert("Debe seleccionar al menos un elemento a añadir");
					 return;
					}
				else
					{
					 document.getElementById("idP1").style.display = "block";

					 var ind = 0;
					 for (var i=0; i < arrValueCheck.length; i++)
				 	  {
						// alert(arrValueCheck[i]);
					  	 $("#idIdSubMenuHidden" + ind).val(arrValueCheck[i]);	
					  	 ind++;
			   	      }
					 
					 var ind2 = 0;
					 for (var j=0; j < arrIdSubMenu.length; j++)
				 	  { 
					    if (arrIdSubMenu[j] != null )
					    	{
					    	// alert("arrIdSubMenu[i] " + arrIdSubMenu[j]);
					   		 $("#idIdSubMenuH" + ind2).val(arrIdSubMenu[j]);
							// alert(" #idIdSubMenuH: vale     " + $("#idIdSubMenuH" + ind2).val() );
					   		 ind2++;
					    	}
				 	  }
					  $("#idAccionHidden").val("anadiruno");  
					  $("#myModalConfirm").modal();
					}
			  }
	  	 }
		
		function eliminarElemenSubMenuUsu()
	  	 {
			if (arrValueCheckASupr == null)
				{
				 alert("Debe seleccionar al menos un elemento a suprimir"); 
				}
			 else
			  {
				if (arrValueCheckASupr.length == 0)
					{
					 alert("Debe seleccionar al menos un elemento a suprimir");
					}
				  else
					{
 					 document.getElementById("idP2").style.display = "block";
					 
					 var ind = 0;
					 for (var i=0; i < arrValueCheckASupr.length; i++)
				 	  { 
					   	$("#idIdSubMenuUsuHidden" + ind).val(arrValueCheckASupr[i]);
					  // 	alert("idSubMenuHidden: " +  $("#idIdSubMenuUsuHidden" + ind).val() );
					   	ind++;
				 	  }
					 
					 var ind2 = 0;
					 for (var j=0; j < arrIdSubMenu.length; j++)
				 	  { 
					    if (arrIdSubMenu[j] != null )
					    	{
					    //	 alert("arrIdSubMenu[i] " + arrIdSubMenu[j]);
					   		 $("#idIdSubMenuH" + ind2).val(arrIdSubMenu[j]);
						//	 alert(" #idIdSubMenuH: vale     " + $("#idIdSubMenuH" + ind2).val() );
					   		 ind2++;
					    	}
				 	  }

					 $("#idAccionHidden").val("suprimiruno");  
					 $("#myModalConfirm").modal();
					}
	  			}
		}

		function anadirElemento(objElemen, ind)
	  	 {  
		 // alert(objElemen.checked);
		 // alert(ind);
		 // alert("buenas: " + document.getElementById("idSubMenuUsuSelHidden"+ind).value);
		  
		  if (objElemen.checked)
			 {
			 document.getElementById("idIdSubMenuUsuHidden"+indExp).value = objElemen.value;
		//	 alert(document.getElementById("idIdMenuUsuHidden"+indExp).value);
			 indExp = indExp + 1;
			 }
			else
			{
			 document.getElementById("idIdSubMenuUsuHidden"+indExp).value = "";
		//	 alert(document.getElementById("idIdMenuUsuHidden"+indExp).value);
			 iindExp = indExp - 1;
			}
	  	 }
		
		function confirmarSubMenuUsuario()
	  	 {
	  // Submitir formulario
		 document.getElementById("idFormSubMenuUsuario").submit();
	  	 }
	</script>

</head>

  <body>
  
   <div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	
	<div class="container-fluid">
	
		<div class="row">
			<div class="titulo-pag2" th:text="'Submenús Usuario'"></div> 
		</div>
		
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<div class="subtitulo-pag2 " th:text="'Gestión submenus del menu: ' + ${nomMenuPrincipal} + ' para el usuario: ' + ${nomUsuario}">></div>
			</div>
			<div class="col-1"></div>
		</div>
																
		<form th:id="idFormSubMenuUsuario" th:action="@{/gestionmenususuario/actualizarsubmenuusuario}" th:object="${beanCamposGesMenuUsu}" method="post">		
			<input type="hidden" th:id="'idAccionHidden'" 	 th:name="'accionHidden'"    th:field="*{idAccion}" />
			<input type="hidden" th:id="'IdIdUsuario'" 		 th:name="'idUsuario'"       th:field="*{idUsuario}" />
			<input type="hidden" th:id="'idNomUsuario'" 	 th:name="'nomUsuario'"      th:field="*{nomUsuario}" />
			<input type="hidden" th:id="'idMenuPrincipalH0'" th:name="'menuPrincipalH0'" th:field="*{idMenuPrincipal1}" />			

		 	<input type="hidden" th:id="'idIdSubMenuH0'"  th:name="'idSubMenuH0'"  th:field="*{idMenu1}" />
		 	<input type="hidden" th:id="'idIdSubMenuH1'"  th:name="'idSubMenuH1'"  th:field="*{idMenu2}" />
		 	<input type="hidden" th:id="'idIdSubMenuH2'"  th:name="'idSubMenuH2'"  th:field="*{idMenu3}" />	
		 	<input type="hidden" th:id="'idIdSubMenuH3'"  th:name="'idSubMenuH3'"  th:field="*{idMenu4}" />	
		 	<input type="hidden" th:id="'idIdSubMenuH4'"  th:name="'idSubMenuH4'"  th:field="*{idMenu5}" />	
		 	<input type="hidden" th:id="'idIdSubMenuH5'"  th:name="'idSubMenuH5'"  th:field="*{idMenu6}" />	
		 	<input type="hidden" th:id="'idIdSubMenuH6'"  th:name="'idSubMenuH6'"  th:field="*{idMenu7}" />	
		 	<input type="hidden" th:id="'idIdSubMenuH7'"  th:name="'idSubMenuH7'"  th:field="*{idMenu8}" />	
		 	<input type="hidden" th:id="'idIdSubMenuH8'"  th:name="'idSubMenuH8'"  th:field="*{idMenu9}" />	
		 	
		 	<input type="hidden" th:id="'idIdSubMenuUsuHidden0'"  th:name="'idSubMenuUsuHidden0'"  th:field="*{idMenuUsu1}" />
		 	<input type="hidden" th:id="'idIdSubMenuUsuHidden1'"  th:name="'idSubMenuUsuHidden1'"  th:field="*{idMenuUsu2}" />
		 	<input type="hidden" th:id="'idIdSubMenuUsuHidden2'"  th:name="'idSubMenuUsuHidden2'"  th:field="*{idMenuUsu3}" />	
		 	<input type="hidden" th:id="'idIdSubMenuUsuHidden3'"  th:name="'idSubMenuUsuHidden3'"  th:field="*{idMenuUsu4}" />	
		 	<input type="hidden" th:id="'idIdSubMenuUsuHidden4'"  th:name="'idSubMenuUsuHidden4'"  th:field="*{idMenuUsu5}" />	
		 	<input type="hidden" th:id="'idIdSubMenuUsuHidden5'"  th:name="'idSubMenuUsuHidden5'"  th:field="*{idMenuUsu6}" />	
		 	<input type="hidden" th:id="'idIdSubMenuUsuHidden6'"  th:name="'idSubMenuUsuHidden6'"  th:field="*{idMenuUsu7}" />	
		 	<input type="hidden" th:id="'idIdSubMenuUsuHidden7'"  th:name="'idSubMenuUsuHidden7'"  th:field="*{idMenuUsu8}" />	
		 	<input type="hidden" th:id="'idIdSubMenuUsuHidden8'"  th:name="'idSubMenuUsuHidden8'"  th:field="*{idMenuUsu9}" />		
		</form> 
		
		<div class="row">
			<div class="col-1"></div>
  			<div class="col-4" style="border-bottom: 2px solid #000">
  				<div class="subtitulo-pag3" th:text="'Opciones de submenu asignadas al usuario'"></div>
  				<div id="idDivSubMenu1Usu">
					<div th:insert="gestionMenus/fragments/SubMenusSelecUsuario :: submenuselecusuario"></div>
				</div>	
			</div>
 			<div class="col-2" style="text-align: center">
 				<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
 					<br/>
 					<br/>
 					<br/>
				 	<a th:id="'idLinkAnadir'"   th:name="'linkAnadir'"  th:onclick="th:anadirElemenSubMenuUsu()"  class="btn btn-primary btn-sm" role="button"> < Añadir</a>
				 	<br/>
					<a th:id="'idLinkSuprimir'" th:name="'linkSuprimir'" th:onclick="th:eliminarElemenSubMenuUsu()" class="btn btn-primary btn-sm" role="button">Suprimir ></a>
					<br/>
					<a th:id="'idLinkAnadirTodos'" th:name="'linkAnadirTodos'"  class="btn btn-primary btn-sm" role="button"> < Añadir todos</a>
					<br/>
				</div>
 			</div>
 			<div class="col-4" style="border-bottom: 2px solid #000">
 				<div class="subtitulo-pag3" th:text="'Opciones del submenu disponibles'"></div>
 				<div th:insert="gestionMenus/fragments/SubMenusAplicaDispUsuario :: submenuapliselecusuario"></div>
 			</div>
 			<div class="col-1"></div>
		</div>
		
		<div class="row">
			<div class="col-1"></div>
 			 <div class="col-10 text-right"> 
  			   <a th:id="'idVolver'" th:href="@{/gestionmenususuario/obtenermenusuario(idUsuario=*{beanCamposGesMenuUsu.idUsuario}, nomUsuario=${nomUsuario} )}" class="btn btn-primary" role="button">Volver Menus</a>
 			 </div>
 			<div class="col-1"></div>
 		</div>
 		
 		 <div class="row">
			<div class="col-1"></div>	
			<div class="col-10">
				<p th:id="'idPMensaje'"><strong>Nota: </strong>Los cambios en la asignación de submenús a un usuario se verán reflejados la siguiente vez que entre el usuario a la apliciación o pinchando el icono Beigar</p>
			</div>	
			<div class="col-1"></div>	
		</div>
   </div>
   
    <!-- Modal Confirmación -->
  	<div id="myModalConfirm" class="modal" tabindex="-1" role="dialog">
 	 <div class="modal-dialog" role="document">
    	<div class="modal-content">
     	 <div class="modal-header">
       	 <h5 class="modal-title">Confirmación elementos submenú</h5>
       	 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
       	   <span aria-hidden="true">&times;</span>
       	 </button>
      	</div>
     	 <div class="modal-body">
     	 	<p th:id="'idP1'" style="display:none;"> ¿Confirmar que quiere añadir los elementos de submenu seleccionados a submenu este usuario?.</p>
     	 	<p th:id="'idP2'" style="display:none;"> ¿Confirmar que quiere suprimir los elementos de submenu seleccionados a submenu este usuario?.</p>
      		<p th:id="'idP3'" style="display:none;"> ¿Confirmar que quiere añadir todos los elementos de submenu a este usuario?.</p>
      	</div>
     	 <div class="modal-footer">
      	   <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
     	   <button type="button" th:onclick="th:confirmarSubMenuUsuario()" class="btn btn-primary">Confirmar</button>
      	</div>
   	 </div>
  	</div>
	</div>
	 	
	</body>
</html>
