<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
 	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
 	<link href="../static/css/CustomBootstrap.css" th:href="@{/css/CustomBootstrap.css}" rel="stylesheet" />
 	
 	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>

	<style> 
	
	.form-control-xs {
   		height: calc(1em + .375rem + 2px) !important;
    	padding: .125rem .25rem !important;
    	font-size: .75rem !important;
    	line-height: 1.5;
    	border-radius: .2rem;
		}
	
	h3 {
  		font-weight: bold !important;
  		color: #495057 !important;
  		font-size: 30px !important;
  		
  		border-bottom: 2px solid #000 !important;
 		background:#e9ecef !important;
  		color:#003B49 !important;

  		display:inline-block !important;
  		padding:8px 20px !important;
 		margin-left:10px !important;
		}
		
	h5 {
  		font-weight: bold !important;
  		color: #F2A900 !important;
  		font-size: 26px !important;
  		
 		background:#e9ecef !important;
  		color:#F2A900 !important;

  		display:inline-block !important;
  		padding:3px 15px !important;
 		margin-left:10px !important;
		}
		
	#container {
  	position: relative;
	}
	
 	.div-desactivado{
  	color: #DEBC8B;
  	background-color: #ECC7CD;
  	border-color: #004E64;
  	font: 13px Arial, sans-serif;
 	letter-spacing: 0.05em;
  	border-radius: 0;
	}
  </style>

  <script th:inline="javascript">
  
  /*<![CDATA[*/
	var numElemenMenu = [[${#lists.size(menuPrincipal)}]];
	var isErrorAlta = [[${errorAltaElemento}]];
	/*]]>*/
	
	 $(document).ready(function(){
		
		$("#idBotonNuevoEle").click(function(){
		 	$("#myModal").modal();
		 });
		
		// Evento de boton Editar
		//
		$('a[id^="idLinkEdit"]').click(function(event) {
			
			var lastChar = getNumber(event.target.id);
			
			if ($(this).text() == "editar") {
				$("a[id^='idLinkEdit']").hide(); 
				$("a[id^='idLinkSubMenu']").hide(); 
				
			 	$("#idTextoMenu" + lastChar).prop("readonly", false);
			 	$("#idhRefAplicacion" + lastChar).prop("readonly", false);
			 	$("#idActivado" + lastChar).prop("disabled", false);
				  
				$('#idLinkCancelar' + lastChar).css('visibility', 'visible');
				   
				$(this).text('grabar');  
				$(this).show();
				}  
		   	  else
				{
				$("#idMenuHidden").val($("#idMenu" + lastChar).val()) ;
				$("#idNumOrdenHidden").val($("#idNumOrdMenu" + lastChar).val()) ;
				$("#idTextoMenu").val($("#idTextoMenu" + lastChar).val()); 
				$("#idHREFMenu").val($("#idhRefAplicacion" + lastChar).val()); 

			 // Submitir formulario
				document.getElementById("idFormEditMenu").submit();
			}	
		});
		
		// Evento de boton cancelar la edicion de un elemento de menu
		// 
		$('a[id^="idLinkCancelar"]').click(function(event) 
		 {
		  $("a[id^='idLinkEdit']").show();
		  $("a[id^='idLinkSubMenu']").show();

		  var lastChar4 = getNumber(event.target.id);
			
	 	  $("#idTextoMenu" + lastChar4).prop("readonly", true);
	 	  $("#idhRefAplicacion" + lastChar4).prop("readonly", true);
	 	  $("#idActivado" + lastChar4).prop("disabled", true);
	 	  
		  $("a[id^='idLinkCancelar']").hide();
		  $('#idLinkEdit' + lastChar4).text('editar');
		 });
		
		// Evento Editar numero de orden de menu
		$("#idEditNumOrden").click(function() {
			if ( $("#idEditNumOrden").text() == "editar")
			   {
			    $("input[id^='idNumOrdMenu']").prop("readonly", false);
			    $("#idEditNumOrden").text('grabar');
			    
			    document.getElementById("idCancelNumOrden").style.display = "block";
			   }
			else
			  {
			   if (validarNumOrdenOK()) {
			   	   document.getElementById("idCancelNumOrden").style.display = "none";
			   }
			   
			  }
	 	});
			
		$("#idCancelNumOrden").click(function() {
			$("input[id^='idNumOrdMenu']").prop("readonly", true);
			$("#idEditNumOrden").text('editar');
				document.getElementById("idCancelNumOrden").style.display = "none";
		});
 
		if (isErrorAlta)
	       {
	  	 	console.log("cargar ventana emergente" + isErrorAlta);
	  	 	$('#myModal').modal('show');
	   		}
	   	  else
	       {
	  	  	console.log("NO CARGAR  ventana emergente");
	       }
	});
	 
	 function getNumber(objEvent)
	 { 
		var numero;
 		var lastChar = objEvent.substr(objEvent.length - 1);
 		numero = lastChar;
	 
		 while (true) 
		  {
			  var subCadena = event.target.id.substring(0, event.target.id.length - 1);		  
			  var lastBeforeChar = subCadena.substr(subCadena.length - 1);
		  
			  if ( isNaN(lastBeforeChar)) {
				   // break;
				  return numero;
			  }  
			 else
			  {
				numero.concat(lastBeforeChar);  
			  }
		   } 
	 }
	 
	 
	 function validarNumOrdenOK()
	 {
	  var numOrdVal;
	  var indNumOrden = 1;
	  
	 // alert($("#idNumOrdMenu" + indNumOrden).val());
	  
	  for (indNumOrden = 1; indNumOrden <= numElemenMenu; indNumOrden++) {
		  
		  numOrdVal = $("#idNumOrdMenu" + indNumOrden).val();
		  
		   if ( isNaN(numOrdVal)) {
			   	alert("Los números de orden deben ser numéricos");
			    return false;
		   }
		}
	  
	 // Valida que no haya numero de orden repetidos
	  var indNumOrdenB = 1;
	  for (indNumOrden = 1; indNumOrden <= numElemenMenu; indNumOrden++)  
		  {
			  numOrdVal = $("#idNumOrdMenu" + indNumOrden).val();
			  
			  for (indNumOrdenB = 1; indNumOrdenB <= numElemenMenu; indNumOrdenB++) {
				  
				  if (indNumOrden != indNumOrdenB) {
				 	 if (numOrdVal == $("#idNumOrdMenu" + indNumOrdenB).val())
					  	{
				 		  alert("No puede haber números de orden repetidos");
				 		  return false;
					  	}
		  			}
			  }
		  
		  }
	  
	  // Valida que no falte ningún numero secuencialmente
	  var encuentraSecuencial = "N";
	  for (indNumOrden = 1; indNumOrden <= numElemenMenu; indNumOrden++)  
	  	   {
		  	numOrdVal = $("#idNumOrdMenu" + indNumOrden).val().trim();
			encuentraSecuencial = "N";

		 	 for (indNumOrdenB = 1; indNumOrdenB <= numElemenMenu; indNumOrdenB++) { 
					// Encuentra el secuencial
		 		  if (indNumOrdenB == numOrdVal) {
		 			  encuentraSecuencial = "S";
		 		  }
		 	 }
		 	
		 	 if  (encuentraSecuencial != "S")
		 		 {
		 		  alert("Falta algún numero de orden desde el primero al ultimo que ha introducido");
		 		  return false;
		 		 }

	  	 }
	  return true;
	 }
	 
	</script>
	
</head>

 <body>

	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="titulo-pag" th:text="'Menu de la aplicación'"></div>  
		</div>
	
		<div class="row">
			<div class="col-1"> </div>
			<div class="col-10">
   				<div class="subtitulo-pag" th:text="'Elementos Menu principal'"></div>
			</div>	
			<div class="col-1"> </div>
				
		</div>	
		<div class="row" >
			<div class="col-1"> </div>
			<div class="col-10" style="border-bottom: 2px solid #000">
     			<table class="table table-sm">
					<thead class="thead-light">
						<tr>
							<th width="7%"  th:text="'Id. Menu'"></th>
							<th width="7%"  th:text="'N. Orden'"></th>
							<th width="30%" th:text="'Texto menú'"></th>
							<th width="30%" th:text="'Dirección o Link (href)'"></th>
							<th width="5%"  th:text="'Activado'"></th>
							<th width="7%"  th:text="'Acción'"></th>
							<th width="7%"  th:text="'Cancelar'"></th>
							<th width="7%"  th:text="'Ver'"></th>
						</tr>
					</thead>
					<tbody>
					   <tr th:each="menuP:${menuPrincipal}">
						<td th:text="${menuP.idMenu}"></td>
						<td th:classappend="${menuP.activo}? div-desactivado">
							<div class="form-group">
								<input type="text" class="form-control form-control-xs"  th:id="'idNumOrdMenu'+ ${menuP.numOrdenMenu}" th:name="'mumOrdMenu'+ ${menuP.numOrdenMenu}" th:value="${menuP.numOrdenMenu}" th:maxlength="2" th:readonly="true" required/>				 
							</div>
						</td>
						<td th:classappend="${menuP.activo}? div-desactivado">
							<div class="form-group">
								<input type="text" class="form-control form-control-xs"  th:id="'idTextoMenu'+ ${menuP.idMenu}" th:name="'textoMenu'+ ${menuP.idMenu}" th:value="${menuP.textoMenu}" th:maxlength="30" th:readonly="true" required/>											
							</div>
						</td>
						<td th:classappend="${menuP.activo}? div-desactivado">
							<div class="form-group">
								<input type="text" class="form-control form-control-xs"  th:id="'idhRefAplicacion'+ ${menuP.idMenu}" th:name="'hrefAplicacion'+ ${menuP.idMenu}" th:value="${menuP.hrefAplicacion}" th:maxlength="45" th:readonly="true"/>											
							 </div>
						</td>
						<td th:classappend="${menuP.activo}? div-desactivado" >
							<div class="form-group" style="display: flex; justify-content: center; align-items: center;">
								<input type="checkbox" th:checked="${menuP.activo}" class="btn btn-colour-1" th:id="'idActivado'+ ${menuP.idMenu}" th:name="'activado'+ ${menuP.idMenu}" th:disabled="disabled"/>											
							</div>
						</td>
		
						<td>
							<a th:id="'idLinkEdit' + ${menuP.idMenu}" th:name="'linkEdit' + ${menuP.idMenu}" class="btn btn-colour-1" role="button" th:disabled="false">editar</a>
						</td>
							
						<td>
							<a th:id="'idLinkCancelar' + ${menuP.idMenu}" th:name="'linkCancelar' + ${menuP.idMenu}" class="btn btn-colour-1"  role="button" th:onclick="'cancelarEditarEleMenu(' + ${menuP.idMenu} + ')' " style="visibility:hidden">cancelar</a>	
						</td>
							
						<td>	
							<a th:id="'idLinkSubMenu' + ${menuP.idMenu}" th:name="'linkSubMenu' + ${menuP.idMenu}"  class="btn btn-colour-1"  role="button" th:href="@{'/gestionmenus/obtenersubmenu?field=' + ${menuP.idMenu} + '&nomElemMenu=' + ${menuP.textoMenu}}" style="visibility:visible">submenu</a>
							<input type="hidden" th:id="'idMenuHidden'+ ${menuP.idMenu}" th:name="'idMenuHidden'+ ${menuP.idMenu}" th:value="${menuP.idMenu}"/>		
						 </td>																				 											
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="#" th:id="idEditNumOrden" th:name="editNumOrden" class="btn btn-colour-1" role="button"  aria-disabled="true">editar</a>
								<a href="#" th:id="idCancelNumOrden" th:name="editCancelNumOrden" class="btn btn-colour-1" role="button"  aria-disabled="true" style="display:none;">Cancelar</a>
							</td>	
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				 </table>
				</div>
				<div class="col-1"> </div>
			</div>
			
			<div class="row">
				<div class="col-1">	</div>
				<div class="col-1">	<a th:id="idBotonVolver" th:name="botonVolver"  class="btn btn-colour-1"   role="button">Volver</a> </div>
				<div class="col-8"> </div>
				<div class="col-1"><a th:id="idBotonNuevoEle" th:name="botonNuevoEle"  class="btn btn-colour-1"  role="button">Nuevo elemento</a> </div> 
				<div class="col-1"></div> 
			 </div>
		 
		 </div>
		 
		 <form th:id="idFormEditMenu" th:action="@{/gestionmenus/updateelementomenu}" 	 th:object="${elemenEditMenuApli}" method="post">
		 	<input type="hidden" th:id="'idMenuHidden'" 	th:name="'idIdMenuHidden'" 	 th:field="*{idMenu}" />	
		 	<input type="hidden" th:id="'idNumOrdenHidden'" th:name="'idNumOrdenHidden'" th:field="*{numOrdenMenu}" />	
		 	<input type="hidden" th:id="'idTextoMenu'" 		th:name="'textoMenu'" 		 th:field="*{textoMenu}" />		
		 	<input type="hidden" th:id="'idHREFMenu'" 		th:name="'hREFMenu'" 		 th:field="*{hrefAplicacion}" />											
		 </form> 

    <!-- Modal -->
    <div id="myModal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  		<div class="modal-dialog modal-xl">
      <!-- Modal content-->
      	<div class="modal-content">
      		<form action="#" th:action="@{'/gestionmenus/insertelementomenu'}" method="post" th:object="${elemenMenuNuevoWeb}">
      	
       	 <div class="container-fluid">
        	<div class="subtitulo-pag" th:text="'Nuevo elementos Menu principal'"></div>

			<div class="row">
				<div class="col-12"> 
					<table class="table table-sm">
						<thead class="thead-light">
							<tr>
								<th width="15%" th:text="'Núm. Orden'"></th>
								<th width="40%" th:text="'Texto elemento del menú'"></th>
								<th width="35%" th:text="'Link (Href)'"></th>
								<th width="10%" th:text="'Activado'"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td> 
									<div class="form-group col-md-6">
										<input type="text" class="form-control form-control-sm"  th:id="idNumOrdMenuN" th:name="mumOrdMenuN" th:field="*{numOrdenMenu}" th:maxlength="2" th:readonly="true"/>											
									</div>
								</td>
								<td>
									<div class="form-group">
										<input type="text" class="form-control form-control-sm"  th:id="idTextoMenuN" th:name="textoMenuN" th:field="*{textoMenu}" placeholder="Teclee el texto del elemento de menú" th:maxlength="30" required/>											
									</div>
								</td>
								<td>
									<div class="form-group">
										<input type="text" class="form-control form-control-sm"  th:id="idhRefAplicacionN" th:name="hrefAplicacionN" th:field="*{hrefAplicacion}"  placeholder="Teclee parte de url de enlace suministrada"  th:maxlength="30"/>											
				 	  				</div>
								</td>
								<td>
									<div class="form-group">
										<input type="checkbox" th:checked="*{indActivo}" class="form-control form-control-sm" th:id="idActivadoN" th:name="activadoN" th:field="*{indActivo}" th:readonly="false"/>											
				 	 				</div>
							</td>		
			  	 		</tr>
					</tbody>
			 	</table>
		
			 </div>
			 
			</div>
			</div>	
        	<div class="modal-footer">
        	<!-- <button type="button" class="btn btn-primary">Crear</button> -->
          	<!-- 	 <a th:href="@{'/gestionmenus/insertelementomenu?obj=' + ${elemenNuevo} }" class="btn btn-primary" role="button">Crear Elemento</a> -->
          		  <button type="submit" class="btn btn-colour-1" >Crear elemento</button>    
       			  <button type="button" class="btn btn-colour-1"  data-dismiss="modal">Cancelar</button>
        	</div>
          </form>	
      </div>
      
    </div>
  </div>
	
</body>
</html>