<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
 							
 	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>

  
  <style>  
   .form-control-xs {
    height: calc(1em + .375rem + 2px) !important;
    padding: .125rem .25rem !important;
    font-size: .75rem !important;
    line-height: 1.5;
    border-radius: .2rem;
	}
	
	h3 {
  		font-weight: bold !important;
  		color: #495057 !important;
  		font-size: 30px !important;
  		
  		border-bottom: 2px solid #000 !important;
 		background:#e9ecef !important;
  		color:#003B49 !important;

  		display:inline-block !important;
  		padding:8px 20px !important;
 		margin-left:10px !important;
		}
		
	h5 {
  		font-weight: bold !important;
  		color: #F2A900 !important;
  		font-size: 26px !important;
  		
 		background:#e9ecef !important;
  		color:#F2A900 !important;

  		display:inline-block !important;
  		padding:3px 15px !important;
 		margin-left:10px !important;
		}
		
	#container {
  	position: relative;
	}

	#idNuevoElemMenu {
     position: absolute;
     top:300;
     left:0;
     z-index:10;
     max-width:100%;
     overflow:hidden;
	}

	#idDivSubMenu1 {
      position: absolute;
     top:300;
     left:0;
     z-index:1;
     max-width:100%;
     overflow:hidden;
}

  </style>
 
 
	<script th:inline="javascript">
	
	 /*<![CDATA[*/
	var numElemenMenu = [[${#lists.size(subMenuNivel1)}]];
  
	var isErrorAlta = [[${errorAltaElemento}]];
	var noTieneElemSubmenus = [[${noTieneSubmenus}]];
	/*]]>*/
	
	
	 $(document).ready(function(){
		
		 console.log("noTieneElemSubmenus: " + noTieneElemSubmenus);
		 
		$("#idBotonNuevoEleSM").click(function(){
		 		$("#myModal2").modal();
		 });
		
		 if	(isErrorAlta || noTieneElemSubmenus)
	    	{
	  	 	 console.log("cargar ventana emergente" + isErrorAlta);
	  	 	 $('#myModal2').modal('show');
	   		}
	   	  else
	    	{
	  	  	console.log("NO CARGAR  ventana emergente");
	    	}

	});
	
	
	 
	 function ocultarDivAlta()
     {
	   alert("entra en ocultarDivAlta");
	   document.getElementById('idBotonNuevoEle').innerHTML = "Nuevo Elemento"
	   document.getElementById("idNuevoElemSubMenu").style.visibility="hidden";
     }
	 
	 function mostrarSubMenu(idSubMenu)
      {
		document.getElementById("idDivSubMenu1").style.visibility="visible";
		
		var url = '/gestionmenus/obtenersubmenunivelPruParam';
		url = url + '/' + $('#idMenuHidden' + idSubMenu).val();
	
		alert(url);
		  
		$("#idDivSubMenu1").load(url);
      }
	
	 
	 function cancelarEleSubMenu(idSubMenu)
     {
		/*<![CDATA[*/
		   var numElem = [[${#lists.size(subMenuNivel1)}]]
		   numElem = numElem + 1;
		   for (i = 1; i < numElem; i++) 
		    {
			 document.getElementById('idEditarSM'+i).style.visibility="visible";
			 document.getElementById('idVerSM'+i).style.visibility="visible";
			}
		 /*]]>*/

		document.getElementById('idGrabarSM'+idSubMenu).style.visibility="hidden";
		document.getElementById('idCancelarSM'+idSubMenu).style.visibility="hidden";
     } 
	</script>
</head>

<body>
   
  <div th:insert="Aplicacion/fragments/BotoneraMenuCabecera :: menucabecera"></div>
       
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
   				<h5 th:text="'Elementos de  Submenú pertenecientes al menu principal: ' + ${elemenMenuPrincipal} "></h5>
			</div>		
		</div>	
		<div class="row" style="border-bottom: 2px solid #000">
			<div class="col-10">
     			<table class="table table-sm">
					<thead class="thead-light">
						<tr>
							<th width="10%"  th:text="'Id. Submenú'"></th>
							<th width="12%" th:text="'N. Orden'"></th>
							<th width="18%" th:text="'Texto submenú'"></th>
							<th width="25%" th:text="'Dirección o Link (href) submenú'"></th>
							<th width="7%"  th:text="'Activado'"></th>
							<th width="7%"  th:text="'Acción'"></th>
							<th width="7%"  th:text="'Actualizar'"></th>
							<th width="7%"  th:text="'Cancelar'"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="subMenuN1:${subMenuNivel1}">
						<td>
							<div class="form-group col-md-4">
								<input type="text" class="form-control form-control-xs"  th:id="'idSubMenu'+ ${subMenuN1.idSubmenuNivel1}" th:name="'subMenu'+ ${subMenuN1.idSubmenuNivel1}" th:value="${subMenuN1.idSubmenuNivel1}" th:maxlength="4" th:readonly="true"/>							
							 </div>
						</td>
						<td>
							<div class="form-group col-md-4">
								<input type="text" class="form-control form-control-xs"  th:id="'idNumOrdSubMenu'+ ${subMenuN1.idSubmenuNivel1}" th:name="'mumOrdSubMenu'+ ${subMenuN1.idSubmenuNivel1}" th:value="${subMenuN1.numOrdenMenu}" th:maxlength="2" th:readonly="true"/>	
							<!-- 	<p class="alert alert-danger"  th:if="${#fields.hasErrors('${menuP[__${row.index}__].numOrdenMenu}')}" th:errors="${menuP.numOrdenMenu}">	 -->	    			 
							</div>
						</td>
						<td>
							<div class="form-group col-md-20">
								<input type="text" class="form-control form-control-xs"  th:id="'idTextoSubMenu'+ ${subMenuN1.idSubmenuNivel1}" th:name="'textoSubMenu'+ ${subMenuN1.idSubmenuNivel1}" th:value="${subMenuN1.textoSubMenuN1}" th:maxlength="30" th:readonly="true"/>											
							</div>
						</td>
							<td>
								<div class="form-group col-md-40">
									<input type="text" class="form-control form-control-xs"  th:id="'idhRefAplicacionSM'+ ${subMenuN1.idSubmenuNivel1}" th:name="'hrefAplicacionSM'+ ${subMenuN1.idSubmenuNivel1}" th:value="${subMenuN1.hrefAplicacionN1}" th:maxlength="50" th:readonly="true"/>											
							    </div>
							</td>
							<td>
								<input type="checkbox" th:checked="${subMenuN1.activo}" class="btn btn-primary btn-sm" th:id="'idActivadoSM'+ ${subMenuN1.idSubmenuNivel1}" th:name="'activadoSM'+ ${subMenuN1.idSubmenuNivel1}" th:disabled="disabled"/>											
							</td>
		
							<td>
							  <div th:id="'idEditarSM' + ${subMenuN1.idSubmenuNivel1}" style="visibility:visible">
								<a th:id="'idLinkSM' + ${subMenuN1.idSubmenuNivel1}" th:name="'linkSM' + ${subMenuN1.idSubmenuNivel1}" class="btn btn-primary btn-sm" role="button" th:onclick="'gestionEleSubMenu(' + ${subMenuN1.idSubmenuNivel1} + ')' ">editar</a>
							  </div>
							</td>
						
							<td>																											 
							  <div th:id="'idGrabarSM' + ${subMenuN1.idSubmenuNivel1}" style="visibility:hidden">										 
								<a th:id="'idLinkGrabarSM' + ${subMenuN1.idSubmenuNivel1}" th:name="'linkGrabarSM' + ${subMenuN1.idSubmenuNivel1}" th:href="@{/gestionmenus/updateelementosubmenu(objMenu=${menuP}) }"  class="btn btn-primary btn-sm" role="button" th:onclick="'grabarEleSubMenu(' + ${subMenuN1.idSubmenuNivel1} + ')' ">grabar</a>	
							  </div>
							</td>
							
							<td>
							  <div th:id="'idCancelarSM' + ${subMenuN1.idSubmenuNivel1}" style="visibility:hidden">
								<a th:id="'idLinkCancelarSM' + ${subMenuN1.idSubmenuNivel1}" th:name="'linkCancelarSM' + ${subMenuN1.idSubmenuNivel1}" class="btn btn-primary btn-sm" role="button" th:onclick="'cancelarEleSubMenu(' + ${subMenuN1.idSubmenuNivel1} + ')' ">cancelar</a>	
							  </div>
							</td>
		
							<input type="hidden" th:id="'idSubMenuHidden'+ ${subMenuN1.idSubmenuNivel1}" th:name="'idSubMenuHidden'+ ${subMenuN1.idSubmenuNivel1}" th:value="${subMenuN1.idSubmenuNivel1}"/>													
						</tr>
					</tbody>
				 </table>
				
				</div>
				
				<div class="col-2">
					<br />
					<div>Opciones</div>
					<a th:id="idBotonNuevoEleSM" th:name="botonNuevoEleSM"  class="btn btn-primary btn-sm" role="button">Nuevo elemento</a>
				</div>
				
			</div>
			
			<div class="row">
				<div class="col-12">
				 <a th:href="@{/gestionmenus/obtenermenuprincipal}" class="btn btn-primary" role="button">volver menus</a>
				 	<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAyuda">Ayuda pantalla</button>
				 </div>	
			</div>
		</div>
			
		 <div id="myModal2" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="modalAyuda" aria-hidden="true">
  			<div class="modal-dialog modal-xl">
      	<!-- Modal content-->
      		<div class="modal-content">
      		<form action="#" th:action="@{'/gestionmenus/insertelementosubmenu'}" method="post" th:object="${elemenSubMenuNuevoWeb}">
      		 <div class="container-fluid">
       			 <br/>
				<h5 th:text="'Nuevo elemento de submenú'"></h5>
				<table class="table table-sm">
					<thead class="thead-light">
					<tr>
						<th width="15%" th:text="'Número Orden'"></th>
						<th width="40%" th:text="'Texto elemento del submenú'"></th>
						<th width="35%" th:text="'Dirección o Link (href)'"></th>
						<th width="10%" th:text="'Activado'"></th>
					</tr>
					</thead>
					<tbody>
						<tr th:each="elemenSumMenuNuevo:${elemenSubMenuNuevoWeb}">
					 		<td>
								<input type="text" class="form-control form-control-sm"  th:id="idNumOrdSubMenuN" th:name="mumOrdMenuN" th:field="*{numOrdenSubMenu}" th:maxlength="2" th:readonly="true"/>											
								<input type="hidden" th:id="'idSubMenuHidden'" th:name="'subMenuHidden'" th:field="*{idMenu}"/> 
							</td>
							<td>
								<input type="text" class="form-control form-control-sm"  th:id="idTextoSubMenuN" th:name="textoSubMenuN" th:field="*{textoMenuSubMenu}" th:maxlength="30"/>											
							</td>
							<td>
								<input type="text" class="form-control form-control-sm"  th:id="idhRefAplicacionSMN" th:name="hrefAplicacionN" th:field="*{hrefAplicacionSubMenu}" th:maxlength="35"/>
							</td>
							<td>
								<input type="checkbox" th:checked="*{indActivoSubMenu}" class="form-control form-control-sm" th:id="idActivadoSMN" th:name="activadoN" th:field="*{indActivoSubMenu}" />											
							</td>		
			  	 		</tr>
				</tbody>
		 	</table>
			</div>
		   	
			<div class="modal-footer">
			    <button type="submit" class="btn btn-primary">Crear submenu</button>
       		 	<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>	
        	</div>
			</form>
		</div>	
		</div>
	</div>
 
<!-- Modal -->
<div class="modal fade" id="modalAyuda" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p>. Para ordenar los sumenus se necesita</p>
        <p>. Para editar los submenus ....</p>
        <p>. 1 Para ordenar los sumenus se necesita</p>
       		  <p>. 5 Para editar los submenus ....</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>


</html>