<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>

  	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} " />
  	<link th:rel="stylesheet" th:href="@{/css/CustomBootstrap.css}" />
  	
 	 <style>
 	 
  	 .form-control-xs {
   	 	height: calc(1em + .375rem + 2px) !important;
    	padding: .125rem .25rem !important;
    	font-size: .75rem !important;
    	line-height: 1.5;
    	border-radius: .2rem;
		}

  </style>
  
  	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  
	<script th:inline="javascript">
	
	/*<![CDATA[*/
		var idUsuarioParam = [[${idUsuarioApli}]];
	/*]]>*/
	
	 var arrValueCheck = null;
	 var arrValueCheckASupr = null;
	 var indExp = 0;

		$(document).ready(function() {

			  $('[name="checks[]"]').click(function() {
			      arrValueCheck = $('[name="checks[]"]:checked').map(function(){
			      return this.value;
			    }).get();
			     
			    //  alert(arrValueCheck);
			    //  alert("arrValueCheck " + arrValueCheck.length);
			      
			      if ( arrValueCheck.length > 9)
			    	 {
			    	  alert("Se pueden elegir hasta 9 elementos de menu para añadir o suprimir");
			    	 }

				//  var count = (arrValueCheck.match(/,/g) || []).length;
				//  alert("checks: " + count);  
			    // var str = arrValueCheck.join(',');
			    //  $('#arr').text(JSON.stringify(arr));
			    //  $('#str').text(str);
			  });
			  
			  $('[name="checksMenuUsu[]"]').click(function() {
				  arrValueCheckASupr = $('[name="checksMenuUsu[]"]:checked').map(function(){
			      return this.value;
			    }).get();
				  
				  if (arrValueCheckASupr.length > 9)
		    	     {
		    	      alert("Se pueden elegir hasta 9 elementos de menu para añadir o suprimir");
		    	     }
				  
			       alert(arrValueCheckASupr);
			       
			 //   alert("arrValueCheckASupr " + arrValueCheckASupr.length);
			   // var count = (arrValueCheckASupr.match(/,/g) || []).length;
			   // alert("arrValueCheckASupr: " + count);
			    //var str = arrValueCheckASupr.join(',');
			    // $('#arr').text(JSON.stringify(arr));
			   //  $('#str').text(str)
			    
			  });
			 
			 $("#idLinkAnadirTodos").click(function() {
				$("input[id^='idCheckActivado']").prop("checked", true);
				document.getElementById("idP3").style.display = "block";
				$("#idAccionHidden").val("anadirtodos");
			//	alert("Antes de mostrar Ventana todos");
				$("#myModalConfirm").modal();
			  });
			 
			 $("#idLinkConfirmar").click(function() {
				  alert("boton confirmar");
				});

			});
		
		function anadirElemenMenuUsuario(numEle)
	  	 {
			if (arrValueCheck == null)
			   {
				 alert("Debe seleccionar al menos un elemento a añadir"); 
				 return;
				}
			  else
			   {
				if (arrValueCheck.length == 0)
					{
					 alert("Debe seleccionar al menos un elemento a añadir");
					 return;
					}
				else
					{
					 document.getElementById("idP1").style.display = "block";

					 var ind = 0;
					 for (var i=0; i<arrValueCheck.length; i++)
				 	 	{
					  	$("#idIdMenuHidden" + ind).val(arrValueCheck[i]);
					 // 	alert("Ha elegido: " + $("#idIdMenuHidden" + ind).val());
					  	ind++;
				 	 	// idMenuSelec = arrValueCheck[i];
			   	     	}
					 	$("#idAccionHidden").val("anadiruno");  
						$("#myModalConfirm").modal();
					}
			   }
	  	 }
		
		function eliminarElemenMenuUsuario()
	  	 {
			if (arrValueCheckASupr == null)
				{
				 alert("Debe seleccionar al menos un elemento a suprimir"); 
				}
			 else
			   {
	 
				if (arrValueCheckASupr.length == 0)
					{
					 alert("Debe seleccionar al menos un elemento a suprimir");
					}
				   else
					{
					 document.getElementById("idP2").style.display = "block";
					 var ind = 0;
					 alert("valores del arrValueCheckASupr: "+ arrValueCheckASupr);
					 for (var i=0; i < arrValueCheckASupr.length; i++)
				 	  {
						alert("arrValueCheckASupr[i]): " + arrValueCheckASupr[i] );
					   	$("#idIdMenuHidden" + ind).val( arrValueCheckASupr[i]);
					  // 	$("#idIdMenuUsuHidden" + ind).val($("#idMenuUsuHidden" + i).val());
					   	alert("El valor que recogera el controler para actualizar: " + $("#idIdMenuUsuHidden" + ind).val() );
					  	ind++;
				 	 // idMenuSelec = arrValueCheck[i];
			   	      }
					 
					$("#idAccionHidden").val("suprimiruno");  
					$("#myModalConfirm").modal();
					}
	  			}
		}
	
		function anadirElemento(objElemen, ind)
	  	 {  
		  alert(objElemen.checked);
		  alert("el valor del check " + objElemen.value);
		  alert(ind);
		  
		  if (objElemen.checked)
			 {
			  alert("indExp: " + indExp);
			  document.getElementById("idIdMenuUsuHidden"+indExp).value = objElemen.value;
			  indExp = indExp + 1;
			 }
			else
			 { 
			  alert("indExp: " + indExp);
			  document.getElementById("idIdMenuUsuHidden"+indExp).value = "";
			  indExp = indExp - 1;
			 }
	  	 }
		
		function confirmarMenuUsuario()
	  	 {
		 // Submitir formulario
			document.getElementById("idFormMenuUsuario").submit();
	  	 }
	</script>

  </head>

  <body>
  
	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="titulo-pag2" th:text="'Gestión menus para el usuario: ' + ${nomUsuario}"></div>
		</div>
		
		<div class="row" style="border-bottom: 2px solid #000">
		<div class="col-1"></div>
		 
		<form th:id="idFormMenuUsuario" th:action="@{/gestionmenususuario/actualizarmenuusuario}" th:object="${beanCamposGesMenuUsu}" method="post">
			
			<input type="hidden" th:id="'idAccionHidden'" 	th:name="'accionHidden'"   th:field="*{idAccion}" />
			<input type="hidden" th:id="'IdIdUsuario'" 		th:name="'idUsuario'"      th:field="*{idUsuario}" />
			<input type="hidden" th:id="'idNomUsuario'" 	th:name="'nomUsuario'"     th:field="*{nomUsuario}" />

		 	<input type="hidden" th:id="'idIdMenuHidden0'"  th:name="'idMenuHidden0'"  th:field="*{idMenu1}" />
		 	<input type="hidden" th:id="'idIdMenuHidden1'"  th:name="'idMenuHidden1'"  th:field="*{idMenu2}" />
		 	<input type="hidden" th:id="'idIdMenuHidden2'"  th:name="'idMenuHidden2'"  th:field="*{idMenu3}" />	
		 	<input type="hidden" th:id="'idIdMenuHidden3'"  th:name="'idMenuHidden3'"  th:field="*{idMenu4}" />	
		 	<input type="hidden" th:id="'idIdMenuHidden4'"  th:name="'idMenuHidden4'"  th:field="*{idMenu5}" />	
		 	<input type="hidden" th:id="'idIdMenuHidden5'"  th:name="'idMenuHidden5'"  th:field="*{idMenu6}" />	
		 	<input type="hidden" th:id="'idIdMenuHidden6'"  th:name="'idMenuHidden6'"  th:field="*{idMenu7}" />	
		 	<input type="hidden" th:id="'idIdMenuHidden7'"  th:name="'idMenuHidden7'"  th:field="*{idMenu8}" />	
		 	<input type="hidden" th:id="'idIdMenuHidden8'"  th:name="'idMenuHidden8'"  th:field="*{idMenu9}" />	
		 	
		 	<input type="hidden" th:id="'idIdMenuUsuHidden0'"  th:name="'idMenuUsuHidden0'"  th:field="*{idMenuUsu1}" />
		 	<input type="hidden" th:id="'idIdMenuUsuHidden1'"  th:name="'idMenuUsuHidden1'"  th:field="*{idMenuUsu2}" />
		 	<input type="hidden" th:id="'idIdMenuUsuHidden2'"  th:name="'idMenuUsuHidden2'"  th:field="*{idMenuUsu3}" />	
		 	<input type="hidden" th:id="'idIdMenuUsuHidden3'"  th:name="'idMenuUsuHidden3'"  th:field="*{idMenuUsu4}" />	
		 	<input type="hidden" th:id="'idIdMenuUsuHidden4'"  th:name="'idMenuUsuHidden4'"  th:field="*{idMenuUsu5}" />	
		 	<input type="hidden" th:id="'idIdMenuUsuHidden5'"  th:name="'idMenuUsuHidden5'"  th:field="*{idMenuUsu6}" />	
		 	<input type="hidden" th:id="'idIdMenuUsuHidden6'"  th:name="'idMenuUsuHidden6'"  th:field="*{idMenuUsu7}" />	
		 	<input type="hidden" th:id="'idIdMenuUsuHidden7'"  th:name="'idMenuUsuHidden7'"  th:field="*{idMenuUsu8}" />	
		 	<input type="hidden" th:id="'idIdMenuUsuHidden8'"  th:name="'idMenuUsuHidden8'"  th:field="*{idMenuUsu9}" />						
		 </form> 

  			<div class="col-5">
  			<div class="subtitulo-pag2" th:text="'Opciones de menu activos para el usuario'"></div>
  				<div id="idDivSubMenu1Usu">
					<div th:insert="gestionMenus/fragments/MenusSelecUsuario :: menuselecusuario"></div>
				</div>	
			</div>
			
 			<div class="col-1" style="text-align: center">
 				<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
 					<br/>
 					<br/>
 					<br/>
				 	<a th:id="'idLinkAnadir'"      th:name="'linkAnadir'"  th:onclick="anadirElemenMenuUsuario()" class="btn btn-primary btn-sm" role="button"> &#8678; Añadir</a>
					<br/>
					<a th:id="'idLinkSuprimir'"    th:name="'linkSuprimir'" th:onclick="eliminarElemenMenuUsuario()" class="btn btn-colour-1" role="button">Suprimir &#8680;</a>
					<br/>
					<a th:id="'idLinkAnadirTodos'" th:name="'linkAnadirTodos'" class="btn btn-colour-1" role="button">&#8920; Añadir todos</a>
				</div> 
 			</div>
 			<div class="col-4">
 				<div class="subtitulo-pag2" th:text="'Opciones del menu principal disponibles'"></div>
 				<div th:insert="gestionMenus/fragments/MenusAplicaDispUsuario :: menuapliselecusuario"></div>
 			</div>
 		 
 			<div class="col-1"> </div>
		</div>
		<a th:id="'idLinkVolver'" th:name="'linkVolver'" th:href="@{/gestionWeb/usuarios/pagusuarios}" class="btn btn-colour-1" role="button">Volver</a>
 
      	<div id="idDivSubMenu1Usu" style="visibility:visible; width:100%"> </div>
	</div>
	
	<p th:id="'idPMensaje'">Los cambios en la asignación de menús se verán reflejados la siguiente vez que entre el usuario a la apliciación o pinchando icono Beigar</p>
	
  <!-- Modal Confirmación -->
  <div id="myModalConfirm" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmación elementos menú</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<p th:id="'idP1'" style="display:none;"> ¿Confirmar que quiere añadir los elementos de menu seleccionados a menu este usuario?.</p>
      	<p th:id="'idP2'" style="display:none;"> ¿Confirmar que quiere suprimir los elementos de menu seleccionados a menu este usuario?.</p>
      	<p th:id="'idP3'" style="display:none;"> ¿Confirmar que quiere añadir todos los elementos de menu a este usuario?.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        <button type="button" th:onclick="confirmarMenuUsuario()" class="btn btn-primary">Confirmar</button>
      </div>
    </div>
  </div>
</div>
	
  </body>
</html>
