<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
 	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
 </head>

	<body>
		<header th:fragment="submenuapliselecusuario">
			<fieldset id="checkArray">
				<table class="table table-sm">
					<thead class="thead-light">
						<tr>
							<th th:text="'Seleccionar'"></th>
							<th th:text="'Id. Subenu'"></th>
							<th th:text="'Texto submenú'"></th>
						</tr>
					</thead>
					<tbody class="table-striped">
						<tr th:each="elemenSubMenuApliSelec:${subMenuApliSelec}">
							<td>
								<input type="checkbox" th:id="'idCheckActivado'+ ${elemenSubMenuApliSelec.idSubMenuN1}" th:name="checks[]"  th:checked="false" th:value="${elemenSubMenuApliSelec.idSubMenuN1}" class="btn btn-primary btn-sm"/>											
							</td>
							<td th:text="${elemenSubMenuApliSelec.idSubMenuN1}"></td>
							<td th:text="${elemenSubMenuApliSelec.textoMenuSubMenu}"></td>
						</tr>	
					</tbody>
				 </table>	
				</fieldset>
		</header>
	</body>

</html>