<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
 	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
	<link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.15.1/css/all.css}"/>
 </head>

	<body>
		<header th:fragment="submenuselecusuario">
	
				<input type="hidden" th:id="idUserHidden" th:name="userHidden" th:value="${idUsuarioApli}"/>
     			<table class="table table-sm">
					<thead class="thead-light">
						<tr>
							<th th:text="'Seleccionar'"></th>
							<th th:text="'Id. Submenu'"></th>
							<th th:text="'Texto Submenú'"></th>
						</tr>
					</thead>
					<tbody class="table-striped">
						<tr th:each="listSubMenuUsu, iterStat :${listSubMenuUsuApliWeb}">
							<td>
								<input type="checkbox" th:id="'idCheckMenuUsuActiva'+  ${iterStat.index}" th:name="checksMenuUsu[]" th:onclick="'anadirElemento(this, ' + ${iterStat.index} + ')'" th:checked="false" th:value="${listSubMenuUsu.idSubMenuUsuWeb}" class="btn btn-primary btn-sm" />						
							</td>
							<td th:text="${listSubMenuUsu.idSubmenuNivel1}"></td>
							<td th:text="${listSubMenuUsu.textoSubMenuN1}"></td>
							<input type="hidden" th:id="'idSubMenuHidden'+ ${iterStat.index}" th:name="'subMenuHidden'+ ${iterStat.index}" th:value="${listSubMenuUsu.idSubmenuNivel1}"/>
							<input type="hidden" th:id="'idSubMenuUsuSelHidden'+ ${iterStat.index}" th:name="'subMenuUsuSelHidden'+ ${iterStat.index}" th:value="${listSubMenuUsu.idSubMenuUsuWeb}"/>
					</tbody>
				 </table>
		</header>
	</body>

</html>