<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
  
	<link href="../static/css/CustomBootstrap.css" th:href="@{/css/CustomBootstrap.css}" rel="stylesheet" />
  	
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.standalone.css}"/>
    
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
   
 <style>

 </style>

</head>

 <body>

	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	
	<div class="container-fluid" style="margin-top:0px;">
		<div class="row">
			<div class="titulo-pag2">Administración</div>
		</div>
		<form th:action="@{/administracion/creartarea}" th:object="${datosTareaWeb}" method="post">
		  <div class="row">
			<br>
			 <div class="col-1"></div>
  			 <div class="col-10" >
  				<div class="subtitulo-pag2">Nueva Tarea</div>
  			 </div>
  			<div class="col-1"></div>
  		 </div>
  		
		<div class="row">
			<div class="col-1"></div>
  			<div class="col-10" style="border-bottom: 2px solid #000; border-top: 2px solid #000">
  				<div class="form-row">
					<div class="col-md-5 mb-4">
						<label for="labelarea" th:text="'Tarea'"></label> 
						<input type="text" class="form-control" id="idTareaWeb" th:field="*{desTarea}" th:maxlength="40" required>
					</div>
					
					<div class="col-md-2 mb-4">		
           				  <label for="labelFecAltaTarea" th:text="'Fecha alta tarea' "></label>
           				  <input type="text" class="form-control" th:id="idFecAltaTarea" th:name="fecAltaTarea" th:field="*{fecCreacionAviso}" th:value="${#calendars.format(fecCreacionAviso, 'dd/MM/yyyy')}" th:maxlength="10" placeholder="DD/MM/YYYY">
            		</div>
						
					<div class="col-md-2 mb-4">		
           				  <label for="labelFecLimiteTarea" th:text="'Fecha Limite tarea' "></label>
           				  <input type="text" class="form-control" th:id="idFecLimiteTarea" th:name="fecLimiteTarea" th:field="*{fecLimiteAviso}" th:value="${#calendars.format(fecLimiteAviso, 'dd/MM/yyyy')}" th:maxlength="10" placeholder="DD/MM/YYYY">
            		</div>
            		
            		<div class="col-md-3 mb-4">		
           				  <label for="labelEnlaceTarea" th:text="'Enlace tarea' "></label>
           				  <input type="text" class="form-control" th:id="idEnlaceTarea" th:name="enlaceTarea" th:field="*{dirEnlaceProceso}">
            		</div>
				
				</div>
				
				<div class="form-row">
					<div class="col-md-4 mb-3">
						<div class="form-group">
							<label for="labelFrecuencia" th:text="'Frecuencia de la Tarea ' "></label>
							<select class="form-control" th:name="frecuencia" th:id="idFrecuencia">
								<option th:value="0" th:text="'Seleccionar Frecuencia' "></option>
								<option th:each ="tpoFreRep:${datosTareaWeb.tpoFrecuRepeticion}"
   						 			th:value="${tpoFreRep.idFrecuRepeticion}"
  						  			th:text ="${tpoFreRep.desFrecuRepeticion}">
  								</option>
    						</select>
						</div>
					</div>
					
					<div class="col-md-4 mb-3">
						<div class="form-group">
							<label for="labelUsuario" th:text="'Usuario Aplicacion ' "></label>
							<select class="form-control" th:name="usuario" th:id="idUsuario">
								<option th:value="0" th:text="'Seleccionar Usuario' "></option>
								<option th:each ="user:${datosTareaWeb.usuario}"
   						 			th:value="${user.id}"
  						  			th:text ="${user.username}">
  								</option>
    						</select>
						</div>
					</div>
					
					<div class="col-md-4 mb-3">		
           				
            		</div>
				
				</div>
				
			 </div>
			<div class="col-1"></div>	
		 </div>
		 
 		<div class="row">
 			<div class="col-1"></div>
 			<div class="col-2"><a th:href="@{/gestionWeb/empresas/pagempresas}" class="btn btn-primary" role="button">Volver</a></div>
 			<div class="col-5"></div>
 			<div class="col-3">	
				<button type="submit" class="btn btn-primary">Crear</button>
 			</div>
 			<div class="col-1"></div>
		</div>
 		</form>
 	</div>
	
 <!-- Include Date Range Picker -->
 
  <script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/locales/bootstrap-datepicker.es.min.js}" charset="UTF-8"></script>
 
 <script th:inline="javascript">
 	$(function () { 	
   	 $('#idFecAltaTarea').datepicker({
    	 format: "dd/mm/yyyy",
    	 language: 'es'
    	});
   	 
   	$('#idFecLimiteTarea').datepicker({
   	 format: "dd/mm/yyyy",
   	 language: 'es'
   	});
    });
</script>

</body>
</html>