<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
  
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
	<link th:rel="stylesheet" th:href="@{/css/CustomBootstrap.css}"/>
	
	<style>
	.divRounded {
   		margin-top: 10px;
   		margin-left: 10px;
  		border-color: black;
  		border-radius: 10px;
   		border-style: solid;
  		border-width: 1px;
  		width: 100%;
  		margin-right: 0;
   		padding: 10px;
	}
    </style> 	
    
    <!-- Este es el orden correcto de definición de los js de bootstrap -->
     <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
 	 <script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
 	 
 	 <script type="text/javascript" th:src="@{/js/Beigar.js}"></script>
  
 	<script th:inline="javascript">
 	
 	 var arrValueCheckCopSeg = [];
	
	 $(document).ready(function(){
		
		$("#botonRestaurar").click(function(){ 
			
			if (arrValueCheckCopSeg.length == 1)
	    	   {
			    $("#modalConfirRestCopSeg").modal();
	    	   }
			  else
				{
				 if (arrValueCheckCopSeg.length == 0)
					{
				 	 alert("Seleccione una copia de seguridad a restaurar");
				 	 }
				   else
					 {
					  alert("Seleccione solo una copia de seguridad a restaurar");
					 }
				}
		 });
		
		$('[name="checksCopSeg[]"]').click(function() {
			 arrValueCheckCopSeg = $('[name="checksCopSeg[]"]:checked').map(function(){
		     return this.value;
		    }).get();
			  
			 if (arrValueCheckCopSeg.length > 1)
	    	    {
	    	      alert("Solo se puede recupar una copia de seguridad");
	    	    }
			  else
				{
				  $("#idFicheroCopSeg").val(arrValueCheckCopSeg[0]);
				}
		  });
		
	 });
 	 </script>
  
</head>

 <body>
 
  <div id="spinner">        
	 <img src="/images/circleWating.gif"></img>		 
    </div>
    
 

	<div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="titulo-pag2">Administración</div>
		</div>
		<div class="row">
			<div class="col-2"></div>
  			<div class="col-8"><div class="subtitulo-pag2">Restauración de la copia de seguridad</div></div>
  			<div class="col-2"></div>
  		</div>
  	
  		<div class="row">
			<div class="col-2"></div>
  			<div class="col-8" style="border-bottom: 2px solid #000" >
  				<table class="table table-striped table-sm table-condensed">
						<thead class="thead-light">
						<tr>
							<th th:text="'Marque Cop. Seg. a restaurar'"></th>
							<th th:text="'Nombre fichero'"></th>
							<th th:text="'Fecha creación'"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${listFicheros.empty}">
							<td colspan="3">No se han encontrado copias seguridad de Beigar a restaurar</td>
						</tr>

						<tr th:each="fichero, iterStat :${listFicheros}">
							<td>
								 <div style="display: flex; justify-content: center; align-items: center;">
									<input type="checkbox" th:id="'idCheckCopSeg' + ${iterStat.index}" th:name="checksCopSeg[]" th:checked="false" th:value="${fichero.nomFichero}" class="btn btn-primary btn-sm"/>											
							 	</div>
							</td>
							<td th:text="${fichero.nomFichero}"></td>
							<td th:text="${fichero.fechaCreacion}"></td>
						</tr>
					</tbody>
				</table> 
  			</div>
  			<div class="col-2"></div>
  		</div>
  		<div class="row">
 			<div class="col-2"></div>
 			<div class="col-8 text-right"><button type="button" id="botonRestaurar" class="btn btn-primary">Restaurar Copia Seguridad</button></div>
 			<div class="col-2"></div>
		</div>
  		<div class="row">
			<div class="col-2"></div>
  			<div class="col-8">
  				<div class="divRounded">
  					<strong>Nota:</strong> 
  					<p th:text="'. Realiza la restauración copia de la base de datos del siguiente path:  ' + ${pathDestinoCopia}">  </p>
					<p>. Es recomendable para realizar la restauración de la copia de seguridad, que no esté utilizando ningún usuario la aplicación</p>
					<p>. Una vez termine el proceso de restauración vuelva a entrar a la aplicación</p>
				</div>
  			</div>
  			<div class="col-2"></div>
  		</div>
 	</div>
 	
 <!-- Modal Eliminar Menu -->
  <div id="modalConfirRestCopSeg" class="modal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
         <div class="subtitulo-pag-ayuda" th:text="'Confirmar la restauración la copia de seguridad'"></div>
      </div>
      <div class="modal-body">
        <form th:id="idFormRestauraCopSeg" th:action="@{/administracion/generarrestauracioncopseg}" th:object="${datosCopSeg}" method="post">
            <input type="hidden" th:id="'idFicheroCopSeg'" th:name="'ficheroCopSeg'" th:value="${fichCopSeg}" /> 
    		<div class="container">
                <p th:id="'idP1'" th:text="'Asegurese que no hay usuarios en la Aplicación'"></p>
     	    </div>
      		<div class="modal-footer">
       	 		<button type="submit" id="idConfirmar" onclick="return showProgress();" class="btn btn-primary btn-sm">Confirmar</button>
       	 		<button type="button" id="idCancelar"  class="btn btn-primary btn-sm" data-dismiss="modal">Cancelar</button>
      		</div>
       </form>
    </div>
   </div>
  </div>
 </div>

</body>
</html>