<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
  
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
	<link href="../static/css/CustomBootstrap.css" th:href="@{/css/CustomBootstrap.css}" rel="stylesheet" />
	
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.standalone.css}"/>
    
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
   
 <style>
 

 
 </style>
 
</head>

<body>

	<!--    <div th:insert="Aplicacion/fragments/BotoneraMenuCabecera2 :: menucabecera"></div> -->
 
	<div class="container-fluid p-0" style="border-style: solid; border-width: 1px;">Linea simple</div>
<!--	<div class="container-fluid" style="margin-top:0px;">
	</div> -->

</body>
</html>